<% title 'Hướng Dẫn Mua Hàng' %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <span>
                    <span>
                        <%= link_to 'Trang Chủ', root_link, title: '' %> » 
                        <span class="breadcrumb_last" aria-current="page">Hướng Dẫn Mua Hàng</span>
                    </span>
                </span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >
                                Hướng Dẫn Mua Hàng
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpisset-ele-es-animate-fadein vc_custom_1612958706938 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_header4 wpisset_ele_es_header4-778647610 vc_custom_1610524994812" >
                                <div class="wpisset-ele-es-header4">
                                    <h2 class="wpisset-ele-es-header4-title">Hỗ Trợ Khách Hàng</h2>
                                </div>
                                <div class="wpisset-ele-es-header4-sep1"></div>
                                <div class="wpisset-ele-es-header4-element"></div>
                                <div class="wpisset-ele-es-header4-sep2"></div>
                                <div class="wpisset-ele-es-header4-desc"></div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_header4-778647610 .wpisset-ele-es-header4-sep1{background-color:#d7d7d7}.wpisset_ele_es_header4-778647610 .wpisset-ele-es-header4-element{border-color:#d7d7d7}.wpisset_ele_es_header4-778647610 .wpisset-ele-es-header4-sep2{background-color:#d7d7d7}</style></svg>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpisset-custom-faq-style-1 wpisset_ele_es_banner4 wpisset_ele_es_banner4-313375757 vc_custom_1612625592505" >
                                                <div class="wpisset-ele-es-banner4">
                                                    <div class="wpisset-ele-es-banner4-item">
                                                        <div class="wpisset-ele-es-banner4-item-wrap">
                                                            <div class="wpisset-ele-es-banner4-item-bg">
                                                                <div class="wpisset-ele-es-banner4-item-img">
                                                                    <%= image_tag '/img/tmp_banners/banner4-faq-3.jpg', alt: '', title: '' %>
                                                                </div>
                                                            </div>
                                                            <div class="wpisset-ele-es-banner4-item-content">
                                                                <div class="wpisset-ele-es-banner4-item-content-title">Hướng Dẫn<br>Mua Hàng</div>
                                                                <div class="wpisset-ele-es-banner4-item-content-btn">
                                                                    <%= link_to 'Đọc ngay', '', title: '', class: 'wpisset-button' %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <svg class="wpssiet-es-cs">
                                                <style>.wpisset_ele_es_banner4-313375757 .wpisset-ele-es-banner4-item-content{min-height: 150px;}</style>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpisset-custom-faq-style-1 wpisset_ele_es_banner4 wpisset_ele_es_banner4-1578146291 vc_custom_1612625601798" >
                                                <div class="wpisset-ele-es-banner4">
                                                    <div class="wpisset-ele-es-banner4-item">
                                                        <div class="wpisset-ele-es-banner4-item-wrap">
                                                            <div class="wpisset-ele-es-banner4-item-bg">
                                                                <div class="wpisset-ele-es-banner4-item-img">
                                                                    <%= image_tag '/img/tmp_banners/banner4-faq-2.jpg', alt: '', title: '' %>
                                                                </div>
                                                            </div>
                                                            <div class="wpisset-ele-es-banner4-item-content">
                                                                <div class="wpisset-ele-es-banner4-item-content-title">Hướng Dẫn<br>Thanh Toán</div>
                                                                <div class="wpisset-ele-es-banner4-item-content-btn">
                                                                    <%= link_to 'Đọc ngay', '', title: '', class: 'wpisset-button' %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <svg class="wpssiet-es-cs">
                                                <style>.wpisset_ele_es_banner4-1578146291 .wpisset-ele-es-banner4-item-content{min-height: 150px;}</style>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpisset-custom-faq-style-1 wpisset_ele_es_banner4 wpisset_ele_es_banner4-66486855 vc_custom_1612625610946" >
                                                <div class="wpisset-ele-es-banner4">
                                                    <div class="wpisset-ele-es-banner4-item">
                                                        <div class="wpisset-ele-es-banner4-item-wrap">
                                                            <div class="wpisset-ele-es-banner4-item-bg">
                                                                <div class="wpisset-ele-es-banner4-item-img">
                                                                    <%= image_tag '/img/tmp_banners/banner4-faq-7.jpg', alt: '', title: '' %>
                                                                </div>
                                                            </div>
                                                            <div class="wpisset-ele-es-banner4-item-content">
                                                                <div class="wpisset-ele-es-banner4-item-content-title">Gửi Yêu Cầu<br>Bảo Hành</div>
                                                                <div class="wpisset-ele-es-banner4-item-content-btn">
                                                                    <%= link_to 'Đọc ngay', '', title: '', class: 'wpisset-button' %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <svg class="wpssiet-es-cs">
                                                <style>.wpisset_ele_es_banner4-66486855 .wpisset-ele-es-banner4-item-content{min-height: 150px;}</style>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpisset-custom-faq-style-1 wpisset_ele_es_banner4 wpisset_ele_es_banner4-630547935 vc_custom_1612625622112" >
                                                <div class="wpisset-ele-es-banner4">
                                                    <div class="wpisset-ele-es-banner4-item">
                                                        <div class="wpisset-ele-es-banner4-item-wrap">
                                                            <div class="wpisset-ele-es-banner4-item-bg">
                                                                <div class="wpisset-ele-es-banner4-item-img">
                                                                    <%= image_tag '/img/tmp_banners/banner4-faq-8.jpg', alt: '', title: '' %>
                                                                </div>
                                                            </div>
                                                            <div class="wpisset-ele-es-banner4-item-content">
                                                                <div class="wpisset-ele-es-banner4-item-content-title">In Hóa Đơn<br>Điện Tử</div>
                                                                <div class="wpisset-ele-es-banner4-item-content-btn">
                                                                    <%= link_to 'Đọc ngay', '', title: '', class: 'wpisset-button' %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <svg class="wpssiet-es-cs">
                                                <style>.wpisset_ele_es_banner4-630547935 .wpisset-ele-es-banner4-item-content{min-height: 150px;}</style>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_header4 wpisset_ele_es_header4-1412720054 vc_custom_1610524887144" >
                                <div class="wpisset-ele-es-header4">
                                    <h2 class="wpisset-ele-es-header4-title">Hướng Dẫn Mua Hàng</h2>
                                </div>
                                <div class="wpisset-ele-es-header4-sep1"></div>
                                <div class="wpisset-ele-es-header4-element"></div>
                                <div class="wpisset-ele-es-header4-sep2"></div>
                                <div class="wpisset-ele-es-header4-desc"><span></span></div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_header4-1412720054 .wpisset-ele-es-header4-sep1{background-color:#d7d7d7}.wpisset_ele_es_header4-1412720054 .wpisset-ele-es-header4-element{border-color:#d7d7d7}.wpisset_ele_es_header4-1412720054 .wpisset-ele-es-header4-sep2{background-color:#d7d7d7}</style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size: 24px;color: #0473db;text-align: left" class="vc_custom_heading" >Trên Website Tìm Hàng Công Nghệ</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Để đặt mua hàng trực tiếp, Quý khách hàng cần phải có tài khoản tại website Tìm Hàng Công Nghệ. Nếu quý khách hàng chưa có tài khoản, vui lòng đăng ký để thuận tiện trong quá trình đặt mua hàng cũng như xem lại lịch sử mua hàng khi cần thiết. Ngoài ra, Tìm Hàng Công Nghệ còn hỗ trợ Quý khách hàng đăng ký & đăng nhập nhanh thông qua tài khoản FaceBook hoặc Google.</p>
                                    <p>Hướng dẫn các bước mua hàng:</p>
                                    <p>Tìm kiếm sản phẩm cần mua</p>
                                    <%= image_tag 'https://timhangcongnghe.com/frontend/image-policy/policy_01/huong-dan-mua-hang-02.jpg', alt: '', title: '' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size: 24px;color: #0473db;text-align: left" class="vc_custom_heading" >Trên Fanpage Tìm Hàng Công Nghệ</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Để đặt mua hàng trực tiếp, Quý khách hàng cần phải có tài khoản tại website Tìm Hàng Công Nghệ. Nếu quý khách hàng chưa có tài khoản, vui lòng đăng ký để thuận tiện trong quá trình đặt mua hàng cũng như xem lại lịch sử mua hàng khi cần thiết. Ngoài ra, Tìm Hàng Công Nghệ còn hỗ trợ Quý khách hàng đăng ký & đăng nhập nhanh thông qua tài khoản FaceBook hoặc Google.</p>
                                    <p>Hướng dẫn các bước mua hàng:</p>
                                    <p>Tìm kiếm sản phẩm cần mua</p>
                                    <%= image_tag 'https://timhangcongnghe.com/frontend/image-policy/policy_01/huong-dan-mua-hang-02.jpg', alt: '', title: '' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size: 24px;color: #0473db;text-align: left" class="vc_custom_heading" >Trên Zalo Offical Tìm Hàng Công Nghệ</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Để đặt mua hàng trực tiếp, Quý khách hàng cần phải có tài khoản tại website Tìm Hàng Công Nghệ. Nếu quý khách hàng chưa có tài khoản, vui lòng đăng ký để thuận tiện trong quá trình đặt mua hàng cũng như xem lại lịch sử mua hàng khi cần thiết. Ngoài ra, Tìm Hàng Công Nghệ còn hỗ trợ Quý khách hàng đăng ký & đăng nhập nhanh thông qua tài khoản FaceBook hoặc Google.</p>
                                    <p>Hướng dẫn các bước mua hàng:</p>
                                    <p>Tìm kiếm sản phẩm cần mua</p>
                                    <%= image_tag 'https://timhangcongnghe.com/frontend/image-policy/policy_01/huong-dan-mua-hang-02.jpg', alt: '', title: '' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612959217206">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <a href="/shop" class=" wpisset-ele-es-banner5 wpisset-ele-es-banner5-1972117322 vc_custom_1611042981283" title="">
                                <div class="wpisset-ele-es-banner5-wrapper wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="Read More" data-cursor-color="#031d42" data-cursor-text-color="#ffffff">
                                    <img alt="Shopping &amp; product advice." src="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2021/01/shutterstock_723298885.jpg"> 
                                    <div class="wpisset-ele-es-banner5-content">
                                        <h3 class="wpisset-ele-es-banner5-content-text-1">Shopping &amp; product advice.</h3>
                                        <span class="wpisset-ele-es-banner5-content-text-2"><span>Shop with an expert</span></span> 
                                    </div>
                                </div>
                            </a>
                            <svg class="wpssiet-es-cs">
                                <style></style>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <a href="/shop" class=" wpisset-ele-es-banner5 wpisset-ele-es-banner5-954380152 vc_custom_1611043034248" title="">
                                <div class="wpisset-ele-es-banner5-wrapper wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="Read More" data-cursor-color="#031d42" data-cursor-text-color="#ffffff">
                                    <img alt="Tech support and repair." src="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2021/01/shutterstock_734722624.jpg"> 
                                    <div class="wpisset-ele-es-banner5-content">
                                        <h3 class="wpisset-ele-es-banner5-content-text-1">Tech support and repair.</h3>
                                        <span class="wpisset-ele-es-banner5-content-text-2"><span>Schedule a service</span></span> 
                                    </div>
                                </div>
                            </a>
                            <svg class="wpssiet-es-cs">
                                <style></style>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-4 vc_col-sm-offset-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <a href="/shop" class=" wpisset-ele-es-banner5 wpisset-ele-es-banner5-2050365340 vc_custom_1611043040236" title="">
                                <div class="wpisset-ele-es-banner5-wrapper wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="Read More" data-cursor-color="#031d42" data-cursor-text-color="#ffffff">
                                    <img alt="Delivery and store pickup." src="http://eletra.lpdthemesdemo2.com/wp-content/uploads/2021/01/shutterstock_1722465847.jpg"> 
                                    <div class="wpisset-ele-es-banner5-content">
                                        <h3 class="wpisset-ele-es-banner5-content-text-1">Delivery and store pickup.</h3>
                                        <span class="wpisset-ele-es-banner5-content-text-2"><span>Scheduled delivery</span></span> 
                                    </div>
                                </div>
                            </a>
                            <svg class="wpssiet-es-cs">
                                <style></style>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpisset-ele-es-animate-fadein vc_custom_1612959223391 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;">
                                        <span class="wpisset-custom-title" style="color: #111111;font-size: 36px;font-weight: 500;line-height: 1.2;">
                                            Gửi Thắc Mắc, Góp Ý
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div style="text-align:center"><a href="/contact" class=" wpisset-button wpisset_ele_es_button wpisset_ele_es_button-698561867" title=""><span>Liên Hệ</span></a></div>
                            <svg class="wpssiet-es-cs">
                                <style>.wpisset_ele_es_button-698561867.wpisset-button{border-radius: 1.25rem;}</style>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>