<div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943782715">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class=" wpisset_ele_es_header3 wpisset-ele-es-header3-variant2 wpisset_ele_es_header3-1466549668 vc_custom_1610096811046" >
					<h2 class="wpisset-ele-es-header3-title"><span><%= link_to title, '', title: '' %></span></h2>
					<div class="wpisset-ele-es-header3-nav">
						<%= link_to 'AiO HP', '', title: '' %>
						<%= link_to 'AiO Dell', '', title: '' %>
						<%= link_to 'AiO Asus', '', title: '' %>
						<%= link_to 'AiO Acer', '', title: '' %>
						<%= link_to 'AiO Lenovo', '', title: '' %>
						<%= link_to 'Linh Kiện AiO', '', title: '' %>
						<%= link_to 'Phụ Kiện AiO', '', title: '' %>
					</div>
				</div>
				<svg class="wpssiet-es-cs"><style></style></svg>
				<div class="thcn columns-3 ">
					<ul class="products columns-3">
						<%= render 'frontend/home/list_products', data: category %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>