<div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943782715">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class=" wpisset_ele_es_header3 wpisset-ele-es-header3-variant2 wpisset_ele_es_header3-1466549668 vc_custom_1610096811046" >
                    <h2 class="wpisset-ele-es-header3-title"><%= title %></h2>
                    <div class="wpisset-ele-es-header3-nav">
                        <%= link_to 'iPhone', '', title: '' %>
                        <%= link_to 'iPad', '', title: '' %>
                        <%= link_to 'MacBook', '', title: '' %>
                        <%= link_to 'iMac, iMac Pro', '', title: '' %>
                        <%= link_to 'Mac Mini, Mac Pro', '', title: '' %>
                        <%= link_to 'Apple Watch', '', title: '' %>
                    </div>
                </div>
                <svg class="wpssiet-es-cs"><style></style></svg>
                <div class="thcn columns-3 ">
                    <ul class="products columns-3">
                        <% category.get_products.limit(6).each_with_index do |product, index| %>
                            <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 5 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                <div class="wpisset-woo-loop-wrapper">
                                    <div class="wpisset-woo-loop-inner">
                                        <div class="wpisset-woo-loop-thumbnail-wrapper">
                                            <% if product.is_new? %>
                                                <%= link_to '<span class="onsale">'.html_safe + 'Mới' + '</span>'.html_safe +
                                                            image_set_tag(product.get_main_image.image(:thumb650),
                                                                          {product.get_main_image.image(:thumb650) => '1000w',
                                                                           product.get_main_image.image(:thumb650) => '800w',
                                                                           product.get_main_image.image(:thumb650) => '768w',
                                                                           product.get_main_image.image(:thumb650) => '600w',
                                                                           product.get_main_image.image(:thumb650) => '300w',
                                                                           product.get_main_image.image(:thumb650) => '150w'},
                                                                          title: product.get_name, alt: product.get_name, size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                            image_set_tag(product.get_main_image.image(:thumb650),
                                                                          {product.get_main_image.image(:thumb650) => '1000w',
                                                                           product.get_main_image.image(:thumb650) => '800w',
                                                                           product.get_main_image.image(:thumb650) => '768w',
                                                                           product.get_main_image.image(:thumb650) => '600w',
                                                                           product.get_main_image.image(:thumb650) => '300w',
                                                                           product.get_main_image.image(:thumb650) => '150w'},
                                                                          title: product.get_name, alt: product.get_name, size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                            '', title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                              <% else %>
                                                  <%= link_to image_set_tag(product.get_main_image.image(:thumb650),
                                                                            {product.get_main_image.image(:thumb650) => '1000w',
                                                                             product.get_main_image.image(:thumb650) => '800w',
                                                                             product.get_main_image.image(:thumb650) => '768w',
                                                                             product.get_main_image.image(:thumb650) => '600w',
                                                                             product.get_main_image.image(:thumb650) => '300w',
                                                                             product.get_main_image.image(:thumb650) => '150w'},
                                                                            title: product.get_name, alt: product.get_name, size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                              image_set_tag(product.get_main_image.image(:thumb650),
                                                                            {product.get_main_image.image(:thumb650) => '1000w',
                                                                             product.get_main_image.image(:thumb650) => '800w',
                                                                             product.get_main_image.image(:thumb650) => '768w',
                                                                             product.get_main_image.image(:thumb650) => '600w',
                                                                             product.get_main_image.image(:thumb650) => '300w',
                                                                             product.get_main_image.image(:thumb650) => '150w'},
                                                                            title: product.get_name, alt: product.get_name, size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                              '', title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                              <% end %>
                                        </div>
                                        <div class="wpisset-woo-loop-content-wrapper">
                                            <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                <div class="wpisset-woo-loop-rating">
                                                    <div class="wpisset-woo-loop-rating-wrap">
                                                        <div class="wpisset-woo-loop-status in-stock">
                                                            <span>Trạng thái: </span>
                                                            <span>Đang kinh doanh</span>
                                                        </div>
                                                        <div class="wpisset-woo-loop-rating-inner">
                                                            <div class="wpisset-woo-loop-rating-starts">
                                                                <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                                    <span style="width:100%">Đánh giá <strong class="rating">5.0</strong> / 5.0</span>
                                                                </div>
                                                                <span>(0)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + product.get_name + '</h2>'.html_safe, '', title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                <div class="wpisset-woo-loop-desc">
                                                    <ul>
                                                        <% product.product_short_descipriton_values_array_new_specs.each do |row| %>
                                                            <li><%= row[:values].join(", ") %></li>
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="wpisset-woo-loop-nav-price-wrap">
                                                <span class="price">
                                                    <!-- <del><span class="thcn-Price-amount amount"><bdi><%= format_price(24990000) %></bdi></span></del> -->
                                                    <ins>
                                                        <span class="thcn-Price-amount amount">
                                                            <bdi>
                                                                <% if product.product_price.nil? %>
                                                                    Đang cập nhật
                                                                <% else %>
                                                                    <%= format_price(product.product_price) %>
                                                                <% end %>
                                                            </bdi>
                                                        </span>
                                                    </ins>
                                                </span> 
                                            </div>
                                        </div>
                                        <div class="wpisset-woo-loop-nav"></div>
                                    </div>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>