<div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943782715">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class=" wpisset_ele_es_header3 wpisset-ele-es-header3-variant2 wpisset_ele_es_header3-1466549668 vc_custom_1610096811046" >
					<h2 class="wpisset-ele-es-header3-title"><span><%= link_to title, '', title: '' %></span></h2>
					<div class="wpisset-ele-es-header3-nav">
						<%= link_to 'HP', '', title: '' %>
						<%= link_to 'Dell', '', title: '' %>
						<%= link_to 'Asus', '', title: '' %>
						<%= link_to 'Acer', '', title: '' %>
						<%= link_to 'LG', '', title: '' %>
						<%= link_to 'BenQ', '', title: '' %>
						<%= link_to 'ViewSonic', '', title: '' %>
						<%= link_to 'AOC', '', title: '' %>
						<%= link_to 'Philips', '', title: '' %>
						<%= link_to 'Lenovo', '', title: '' %>
						<%= link_to 'Samsung', '', title: '' %>
						<%= link_to 'Fujitsu', '', title: '' %>
						<%= link_to 'Cooler Master', '', title: '' %>
					</div>
				</div>
				<svg class="wpssiet-es-cs"><style></style></svg>
				<div class="thcn columns-3 ">
					<ul class="products columns-3">
						<%= render 'frontend/home/list_products', data: category %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>