<% title 'Trang Chủ' %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <span><span><span class="breadcrumb_last" aria-current="page">Trang Chủ</span></span></span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-fullwide-row vc_custom_1609838232498 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1609835606827">
                        <div class="wpb_wrapper">
                            <p class="rs-p-wp-fix"></p>
                            <rs-module-wrap id="rev_slider_6_1_wrapper" data-source="gallery" style="background:#f5f5f5;padding:0;margin:0 auto;margin-top:0;margin-bottom:0">
                                <rs-module id="rev_slider_6_1" style="" data-version="6.4.8">
                                    <rs-slides>
                                        <% (0..2).each_with_index do |slide, index| %>
                                            <rs-slide data-key="rs-<%= index %>" data-title="Apple Watch Series 6" data-thumb="/img/revslider-50x100.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;" class="wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="Siêu khuyến mãi" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="Apple Watch Series 6 Silver Aluminum Case (Solo Loop)">
                                                <img src="/img/revslider.jpg" alt="revslider" title="revslider-01-03" width="1500" height="460" class="rev-slidebg tp-rs-img" data-no-retina>
                                                <rs-layer id="slider-6-slide-34-layer-0" data-type="image" data-rsp_ch="on" data-xy="x:c;xo:390px,260px,260px,0;yo:30px,30px,30px,400px;" data-text="w:normal;s:20,20,15,7;l:0,0,19,9;" data-dim="w:['390px','390px','390px','390px'];h:['460px','460px','460px','460px'];" data-frame_0="y:50,50,38,18;" data-frame_1="st:590;sp:900;" data-frame_999="o:0;st:w;sR:7510;" style="z-index:12;" >
                                                    <img src="/img/tmp_sliders/revslider-01-11.png" alt="revslider" class="tp-rs-img" width="390" height="460" data-no-retina>
                                                </rs-layer>
                                                <rs-layer id="slider-6-slide-34-layer-1" data-type="text" data-color="#111" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:-120px,-120px,-130px,-290px;" data-text="w:normal;s:48,48,60,60;l:48,48,60,60;fw:500;a:center;" data-frame_0="y:-50,-50,-38,-18;" data-frame_1="sp:600;" data-frame_999="o:0;st:w;sR:8000;" style="z-index:8;font-family:'Roboto';" >
                                                    Apple Watch Series 6
                                                </rs-layer>
                                                <rs-layer id="slider-6-slide-34-layer-2" data-type="text" data-color="#181c32" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:30px,30px,40px,-120px;" data-text="w:normal;s:24,24,30,30;l:24,24,30,30;a:center;" data-frame_0="y:-50,-50,-38,-18;" data-frame_1="st:600;sp:600;" data-frame_999="o:0;st:w;sR:7800;" style="z-index:10;font-family:'Roboto';" >
                                                    Phiên bản mới 2021
                                                </rs-layer>
                                                <rs-layer id="slider-6-slide-34-layer-3" data-type="text" data-color="#1bc5bd" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:-40px,-40px,-40px,-200px;" data-text="w:normal;s:60,60,72,72;l:60,60,72,72;fw:500;a:center;" data-frame_0="y:-50,-50,-38,-18;" data-frame_1="st:300;sp:600;" data-frame_999="o:0;st:w;sR:8100;" style="z-index:9;font-family:'Roboto';" >
                                                    Silver Aluminum
                                                </rs-layer>
                                                <a id="slider-6-slide-34-layer-4" class="rs-layer wpisset-rs-button wpisset-rs-button wpisset-cursor-disable-anim rev-btn" href="<%= product_link %>" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:120px,120px,120px,-40px;" data-text="w:normal;s:16,16,24,24;l:40,40,60,60;fw:500;" data-dim="minh:0px,none,none,none;" data-padding="r:25,25,37,37;l:25,25,37,37;" data-border="bor:30px,30px,30px,30px;" data-frame_0="y:50,50,38,18;" data-frame_1="st:600;sp:600;" data-frame_999="o:0;st:w;sR:7800;" data-frame_hover="bgc:#ee2d41;bor:30px,30px,25px,30px;bri:120%;" style="z-index:11;background-color:#007aff;font-family:'Roboto';" >
                                                    <span>Mua Ngay</span>
                                                </a>
                                                <rs-layer id="slider-6-slide-34-layer-5" data-type="image" data-rsp_ch="on" data-xy="x:c;xo:540px,410px,390px,160px;y:m;yo:-110px,-110px,-110px,140px;" data-text="w:normal;s:20,20,15,7;l:0,0,19,9;" data-dim="w:['174px','174px','174px','174px'];h:['40px','40px','40px','40px'];" data-frame_0="x:50,50,38,18;" data-frame_1="st:1200;sp:600;" data-frame_999="o:0;st:w;sR:7510;" style="z-index:13;" >
                                                    <img src="/img/tmp_sliders/revslider-01-10.png" alt="revslider" class="tp-rs-img" width="174" height="40" data-no-retina>
                                                </rs-layer>
                                            </rs-slide>
                                        <% end %>
                                    </rs-slides>
                                </rs-module>
                                <script type="text/javascript">setREVStartSize({c:"rev_slider_6_1",rl:[1301,1301,993,600],el:[460,460,500,720],gw:[1300,1300,992,480],gh:[460,460,500,720],type:"standard",justify:"",layout:"fullwidth",mh:"0"});var revapi6,tpj;function revinit_revslider61(){jQuery(function(){tpj=jQuery;revapi6=tpj("#rev_slider_6_1");if(revapi6==undefined||revapi6.revolution==undefined){revslider_showDoubleJqueryError("rev_slider_6_1")}else{revapi6.revolution({sliderLayout:"fullwidth",visibilityLevels:"1301,1301,993,600",gridwidth:"1300,1300,992,480",gridheight:"460,460,500,720",spinner:"spinner2",perspective:600,perspectiveType:"global",editorheight:"460,460,500,720",responsiveLevels:"1301,1301,993,600",progressBar:{disableProgressBar:true},navigation:{onHoverStop:false,bullets:{enable:true,tmp:"",style:"custom_copy97",h_offset:-70,space:20}},fallbacks:{allowHTML5AutoPlayOnAndroid:true},})}})}var once_revslider61=false;if(document.readyState==="loading"){document.addEventListener("readystatechange",function(){if((document.readyState==="interactive"||document.readyState==="complete")&&!once_revslider61){once_revslider61=true;revinit_revslider61()}})}else{once_revslider61=true;revinit_revslider61()};</script>
                                <script>var htmlDivCss=unescape("%23rev_slider_6_1_wrapper%20rs-loader.spinner2%7B%20background-color%3A%20%23ffffff%20%21important%3B%20%7D");var htmlDiv=document.getElementById("rs-plugin-settings-inline-css");if(htmlDiv){htmlDiv.innerHTML=htmlDiv.innerHTML+htmlDivCss}else{var htmlDiv=document.createElement("div");htmlDiv.innerHTML="<style>"+htmlDivCss+"</style>";document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0])};</script>
                                <script>var htmlDivCss=unescape(".custom_copy97.tp-bullets%20%7B%0A%7D%0A.custom_copy97.tp-bullets%3Abefore%20%7B%0A%09content%3A%27%20%27%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.custom_copy97%20.tp-bullet%20%7B%0A%09width%3A8px%3B%0A%09height%3A8px%3B%0A%09position%3Aabsolute%3B%0A%09background%3A%23aaa%3B%0A%20%20%20%20background%3Argba%280%2C0%2C0%2C0.2%29%3B%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20%20%20-webkit-transition%3A%20all%200.2s%3B%0A%20%20%20%20-moz-transition%3A%20all%200.2s%3B%0A%20%20%20%20-o-transition%3A%20all%200.2s%3B%0A%20%20%20%20transition%3A%20all%200.2s%3B%0A%20%20border%3Anone%3B%0A%7D%0A.custom_copy97%20.tp-bullet%3Ahover%2C%0A.custom_copy97%20.tp-bullet.selected%20%7B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%7D%0A.custom_copy97%20.tp-bullet.selected%3Aafter%7B%0A%20%20%20%20content%3A%20%22%22%3B%0A%20%20%20%20position%3A%20absolute%3B%0A%20%20%20%20left%3A%200%3B%0A%20%20%20%20top%3A%200%3B%0A%20%20%20%20display%3A%20block%3B%0A%20%20%20%20height%3A%2016px%3B%0A%20%20%20%20width%3A%2016px%3B%0A%20%20%20%20border%3A%201px%20solid%20rgba%280%2C%200%2C%200%2C%200.2%29%3B%0A%09-webkit-transform%3A%20translateY%28-25%25%29%20translateX%28-25%25%29%3B%0A%09transform%3A%20translateY%28-25%25%29%20translateX%28-25%25%29%3B%0A%09border-radius%3A%2050%25%3B%0A%20%20%20%20-webkit-transition%3A%20all%200.2s%3B%0A%20%20%20%20-moz-transition%3A%20all%200.2s%3B%0A%20%20%20%20-o-transition%3A%20all%200.2s%3B%0A%20%20%20%20transition%3A%20all%200.2s%3B%0A%7D%0A.custom_copy97%20.tp-bullet-image%20%7B%0A%7D%0A.custom_copy97%20.tp-bullet-title%20%7B%0A%7D%0A%0A");var htmlDiv=document.getElementById("rs-plugin-settings-inline-css");if(htmlDiv){htmlDiv.innerHTML=htmlDiv.innerHTML+htmlDivCss}else{var htmlDiv=document.createElement("div");htmlDiv.innerHTML="<style>"+htmlDivCss+"</style>";document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0])};</script>
                                <script>var htmlDivCss=unescape("%0A%0A%0A");var htmlDiv=document.getElementById("rs-plugin-settings-inline-css");if(htmlDiv){htmlDiv.innerHTML=htmlDiv.innerHTML+htmlDivCss}else{var htmlDiv=document.createElement("div");htmlDiv.innerHTML="<style>"+htmlDivCss+"</style>";document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0])};</script>
                            </rs-module-wrap>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612944263041">
                <% (0..2).each do |banner| %>
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpisset-custom-home-ii-style-1 wpisset_ele_es_banner1 wpisset_ele_es_banner1" >
                                    <div class="wpisset-ele-es-banner1">
                                        <a class="wpisset-ele-es-banner1-item" href="" title="">
                                            <div class="wpisset-ele-es-banner1-item-wrap">
                                                <div class="wpisset-ele-es-banner1-item-bg">
                                                    <div class="wpisset-ele-es-banner1-item-img">
                                                        <%= image_tag '/img/tmp_banners/banner1-2-phone.jpg', alt: '', title: '' %>
                                                    </div>
                                                </div>
                                                <div class="wpisset-ele-es-banner1-item-content">
                                                    <div class="wpisset-ele-es-banner1-item-content-title">iPhone 12 Pro Max<br>256GB Màu Bạc</div>
                                                    <div class="wpisset-ele-es-banner1-item-content-content">
                                                        <br><span class="wpisset-ele-es-banner-desc">ĐẶT HÀNG TRƯỚC</span>
                                                        <br><span class="wpisset-ele-es-banner-price"><%= format_price(31990000) %><del><%= format_price(33490000) %></del></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{min-height:200px}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-top:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-bottom:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-left:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-right:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-wrap{border:1px solid #d7d7d7}</style></svg>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-3 vc_col-md-6">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_dealproduct wpisset-ele-es-dealproduct-title-variant2 wpisset_ele_es_dealproduct-1073406693 vc_custom_1612542249568">
                                <div class="wpisset-ele-es-dealproduct-title-wrap" >
                                    <h2 class="wpisset-ele-es-dealproduct-title"><span>SẢN PHẨM KHUYẾN MÃI</span></h2>
                                    <div class="wpisset-ele-es-dealproduct-icon"><svg width="32" height="32" version="1.1" viewBox="0 0 32 32" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink"><path d="M10,23.946c-5.421,0 -10,-4.567 -10,-9.974c0,-3.046 1.616,-5.447 1.686,-5.548c0.227,-0.333 0.637,-0.501 1.031,-0.414c0.396,0.083 0.703,0.395 0.778,0.793c0.014,0.068 0.29,1.381 1.421,2.389c0.03,-3.096 0.887,-9.045 6.749,-11.125c0.354,-0.126 0.748,-0.043 1.02,0.214c0.274,0.257 0.38,0.645 0.275,1.004c-0.015,0.053 -1.302,4.594 0.543,6.968c0.494,-1.273 1.41,-3.043 2.934,-4.081c0.276,-0.188 0.628,-0.225 0.938,-0.1c0.31,0.125 0.537,0.396 0.605,0.723c0.3,1.453 0.642,2.397 0.972,3.31c0.563,1.552 1.048,2.892 1.048,5.867c0,5.407 -4.579,9.974 -10,9.974Zm-7.532,-12.571c-0.255,0.732 -0.468,1.63 -0.468,2.597c0,4.326 3.663,7.98 8,7.98c4.337,0 8,-3.654 8,-7.98c0,-2.625 -0.41,-3.757 -0.929,-5.189c-0.197,-0.546 -0.411,-1.134 -0.619,-1.848c-0.852,1.166 -1.336,2.64 -1.476,3.265c-0.07,0.31 -0.282,0.568 -0.573,0.696c-0.292,0.128 -0.627,0.11 -0.901,-0.048c-3.111,-1.781 -3.18,-5.648 -2.871,-8.056c-4.583,3.05 -3.653,9.964 -3.641,10.041c0.05,0.348 -0.087,0.695 -0.359,0.917c-0.273,0.219 -0.644,0.281 -0.972,0.163c-1.58,-0.572 -2.575,-1.59 -3.191,-2.538Z" transform="scale(1.33668)" fill-rule="evenodd" fill="#000"></path></svg></div>
                                </div>
                                <div class="wpisset-ele-es-dealproduct wpisset-ele-es-productcarousel">
                                    <div class="product-type-simple wpisset-ele-es-dealproduct-item thcn sale">
                                        <div class="wpisset-ele-es-dealproduct-img-wrap">
                                            <div class="wpisset-ele-es-dealproduct-badge">
                                                <span class="wpisset-ele-es-dealproduct-badge-small">Giảm</span> 10%
                                            </div>
                                            <%= link_to image_set_tag(Product.first.get_main_image.image(:thumb650),
                                                                      {Product.first.get_main_image.image(:thumb650) => '1000w',
                                                                       Product.first.get_main_image.image(:thumb650) => '800w',
                                                                       Product.first.get_main_image.image(:thumb650) => '768w',
                                                                       Product.first.get_main_image.image(:thumb650) => '600w',
                                                                       Product.first.get_main_image.image(:thumb650) => '300w',
                                                                       Product.first.get_main_image.image(:thumb650) => '150w'},
                                                                      title: '', alt: '', size: '1000x1000', sizes: '(max-width: 1000px) 100vw, 1000px', loading: 'lazy', class: 'attachment-full size-full wp-post-image'),
                                                        '', title: '' %>
                                        </div>
                                        <div class="wpisset-ele-es-dealproduct-item-title-wrap">
                                            <h3 class="wpisset-ele-es-dealproduct-item-title">
                                                <%= link_to Product.first.get_name, '', title: '' %>
                                            </h3>
                                        </div>
                                        <div class="wpisset-ele-es-dealproduct-status-rating">
                                            <div class="wpisset-ele-es-dealproduct-status in-stock">
                                                <span>Trạng thái: </span>
                                                <span>Đang kinh doanh</span>
                                            </div>
                                            <div class="wpisset-ele-es-dealproduct-rating">
                                                <div class="wpisset-woo-loop-rating-starts">
                                                    <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                        <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                                    </div>
                                                    <span>(1)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="wpisset-woo-price">
                                            <del><span class="thcn-Price-amount amount"><bdi><%= format_price(23990000) %></bdi></span></del>
                                            <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(21990000) %></bdi></span></ins>
                                        </span>
                                        <div class="wpisset-ele-es-dealproduct-countdown">
                                            <div class="wpisset-ele-es-dealproduct-countdown-content">KHUYẾN MÃI SẼ KẾT THÚC</div>
                                            <div class="wpisset-countdown-timer-wrap">
                                                <div class="wpisset-countdown-timer" data-countdown-timer-hours="120" data-cookie-name="set-time-countdown">
                                                    <div class="wpisset-countdown-item-wrap">
                                                        <div class="wpisset-countdown-days">00</div>Ngày
                                                    </div>
                                                    <div class="wpisset-countdown-item-wrap">
                                                        <div class="wpisset-countdown-hours">00</div>Giờ
                                                    </div>
                                                    <div class="wpisset-countdown-item-wrap">
                                                        <div class="wpisset-countdown-minutes">00</div>Phút
                                                    </div>
                                                    <div class="wpisset-countdown-item-wrap">
                                                        <div class="wpisset-countdown-seconds">00</div>Giây
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpisset-ele-es-dealproduct-btn">
                                            <%= link_to '<span>'.html_safe + 'ĐẶT MUA NGAY' + '</span>'.html_safe, '', title: '', class: 'wpisset-button' %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpisset-disable-compare-btn wpisset_ele_es_producttabs wpisset_ele_es_producttabs-1899667726 vc_custom_1612542257981 wpisset-woo-enable-loop-desc">
                                <ul class="wpisset-ele-es-producttabs-tabs">
                                    <li class="tab-link current" data-tab="tab-new">Sản Phẩm Mới</li>
                                    <li class="tab-link" data-tab="tab-promotion">Sản Phẩm Khuyến Mãi</li>
                                    <li class="tab-link" data-tab="tab-best-sale">Sản Phẩm Bán Chạy</li>
                                </ul>
                                <div class="wpisset-ele-es-producttabs-tab-content">
                                    <div id="tab-new" class="wpisset-ele-es-producttabs-tab-panel current">
                                        <div class="thcn columns-4 ">
                                            <ul class="products columns-4">
                                                <% (0..7).each_with_index do |product, index| %>
                                                    <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 7 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                        <div class="wpisset-woo-loop-wrapper">
                                                            <div class="wpisset-woo-loop-inner">
                                                                <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                                    <%= link_to '<span class="onsale">'.html_safe + 'Mới 2021' + '</span>'.html_safe +
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                </div>
                                                                <div class="wpisset-woo-loop-content-wrapper">
                                                                    <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                        <div class="wpisset-woo-loop-rating">
                                                                            <div class="wpisset-woo-loop-rating-wrap">
                                                                                <div class="wpisset-woo-loop-status in-stock">
                                                                                    <span>Trạng thái: </span>
                                                                                    <span>Đang kinh doanh</span>
                                                                                </div>
                                                                                <div class="wpisset-woo-loop-rating-inner">
                                                                                    <div class="wpisset-woo-loop-rating-starts">
                                                                                        <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                                                            <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                                                                        </div>
                                                                                        <span>(1)</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + 'Laptop Dell Latitude 3320 (i3 1115G4/4GB RAM/128GB SSD/13.3" FHD/Win 10/Xám)' + '</h2>'.html_safe, '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                        <div class="wpisset-woo-loop-desc">
                                                                            <ul>
                                                                                <li>Intel Core i3 (Thế hệ 11)</li>
                                                                                <li>4GB | 128GB SSD</li>
                                                                                <li>Intel UHD Graphics</li>
                                                                                <li>13.3-Inch Full HD (1920 x 1080)</li>
                                                                                <li>Windows 10 Home</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wpisset-woo-loop-nav-price-wrap">
                                                                        <span class="price">
                                                                            <del><span class="thcn-Price-amount amount"><bdi><%= format_price(23990000) %></bdi></span></del>
                                                                            <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(21990000) %></bdi></span></ins>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="tab-promotion" class="wpisset-ele-es-producttabs-tab-panel">
                                        <div class="thcn columns-4 ">
                                            <ul class="products columns-4">
                                                <% (0..7).each_with_index do |product, index| %>
                                                    <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 7 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                        <div class="wpisset-woo-loop-wrapper">
                                                            <div class="wpisset-woo-loop-inner">
                                                                <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                                    <%= link_to '<span class="onsale">'.html_safe + 'Khuyến mãi' + '</span>'.html_safe +
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                </div>
                                                                <div class="wpisset-woo-loop-content-wrapper">
                                                                    <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                        <div class="wpisset-woo-loop-rating">
                                                                            <div class="wpisset-woo-loop-rating-wrap">
                                                                                <div class="wpisset-woo-loop-status in-stock">
                                                                                    <span>Trạng thái: </span>
                                                                                    <span>Đang kinh doanh</span>
                                                                                </div>
                                                                                <div class="wpisset-woo-loop-rating-inner">
                                                                                    <div class="wpisset-woo-loop-rating-starts">
                                                                                        <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                                                            <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                                                                        </div>
                                                                                        <span>(1)</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + 'Laptop Dell Latitude 3320 (i3 1115G4/4GB RAM/128GB SSD/13.3" FHD/Win 10/Xám)' + '</h2>'.html_safe, '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                        <div class="wpisset-woo-loop-desc">
                                                                            <ul>
                                                                                <li>Intel Core i3 (Thế hệ 11)</li>
                                                                                <li>4GB | 128GB SSD</li>
                                                                                <li>Intel UHD Graphics</li>
                                                                                <li>13.3-Inch Full HD (1920 x 1080)</li>
                                                                                <li>Windows 10 Home</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wpisset-woo-loop-nav-price-wrap">
                                                                        <span class="price">
                                                                            <del><span class="thcn-Price-amount amount"><bdi><%= format_price(23990000) %></bdi></span></del>
                                                                            <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(21990000) %></bdi></span></ins>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="tab-best-sale" class="wpisset-ele-es-producttabs-tab-panel">
                                        <div class="thcn columns-4 ">
                                            <ul class="products columns-4">
                                                <% (0..7).each_with_index do |product, index| %>
                                                    <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 7 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                        <div class="wpisset-woo-loop-wrapper">
                                                            <div class="wpisset-woo-loop-inner">
                                                                <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                                    <%= link_to '<span class="onsale">'.html_safe + 'Bán chạy' + '</span>'.html_safe +
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                </div>
                                                                <div class="wpisset-woo-loop-content-wrapper">
                                                                    <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                        <div class="wpisset-woo-loop-rating">
                                                                            <div class="wpisset-woo-loop-rating-wrap">
                                                                                <div class="wpisset-woo-loop-status in-stock">
                                                                                    <span>Trạng thái: </span>
                                                                                    <span>Đang kinh doanh</span>
                                                                                </div>
                                                                                <div class="wpisset-woo-loop-rating-inner">
                                                                                    <div class="wpisset-woo-loop-rating-starts">
                                                                                        <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                                                            <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                                                                        </div>
                                                                                        <span>(1)</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + 'Laptop Dell Latitude 3320 (i3 1115G4/4GB RAM/128GB SSD/13.3" FHD/Win 10/Xám)' + '</h2>'.html_safe, '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                        <div class="wpisset-woo-loop-desc">
                                                                            <ul>
                                                                                <li>Intel Core i3 (Thế hệ 11)</li>
                                                                                <li>4GB | 128GB SSD</li>
                                                                                <li>Intel UHD Graphics</li>
                                                                                <li>13.3-Inch Full HD (1920 x 1080)</li>
                                                                                <li>Windows 10 Home</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wpisset-woo-loop-nav-price-wrap">
                                                                        <span class="price">
                                                                            <del><span class="thcn-Price-amount amount"><bdi><%= format_price(23990000) %></bdi></span></del>
                                                                            <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(21990000) %></bdi></span></ins>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612943774916">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_categorybanner1 wpisset_ele_es_categorybanner1-190930925">
                                <div class="wpisset-ele-es-categorybanner1 wpisset-ele-es-categorybanner1-breakpoint-992">
                                    <div class="wpisset-ele-es-categorybanner1-nav">
                                        <div class="wpisset-ele-es-categorybanner1-nav-inner">
                                            <h3 class="wpisset-ele-es-categorybanner1-title"><span>THƯƠNG HIỆU LAPTOP</span></h3>
                                            <div class="wpisset-ele-es-categorybanner1-menu">
                                                <ul class="">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Apple' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Microsoft' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'HP' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Dell' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Lenovo' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Dynabook' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'MSI' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Gigabyte' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Acer' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Asus' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'Avita' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + 'LG' + '</span>'.html_safe, '', title: '' %></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <%= link_to '<span>'.html_safe + 'XEM TOÀN BỘ' + '</span>'.html_safe, '', title: '', class: 'wpisset-button' %>
                                        </div>
                                        <span class="wpisset-ele-es-categorybanner1-cursor-wrap"><span class="wpisset-ele-es-categorybanner1-cursor-holder"><span class="wpisset-ele-es-categorybanner1-cursor"></span></span></span>
                                    </div>
                                    <div class="wpisset-ele-es-categorybanner1-img">
                                        <div class="wpisset-ele-es-categorybanner1-img-bg wpisset-ele-es-animate-image">
                                            <%= image_tag '/img/tmp_banners/categorybanner1-1.jpg', alt: '', title: '', class: 'wpisset-ele-es-categorybanner1-image' %>
                                            <%= image_tag '/img/tmp_banners/categorybanner1-res.jpg', alt: '', title: '', class: 'wpisset-ele-es-categorybanner1-responsive-image' %>
                                        </div>
                                    </div>
                                    <div class="wpisset-ele-es-categorybanner1-products">
                                        <div class="thcn columns-3 ">
                                            <ul class="products columns-3">
                                                <% @products.each_with_index do |product, index| %>
                                                    <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 5 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                        <div class="wpisset-woo-loop-wrapper">
                                                            <div class="wpisset-woo-loop-inner">
                                                                <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                                    <%= link_to '<span class="onsale">'.html_safe + 'Mới 2021' + '</span>'.html_safe +
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                </div>
                                                                <div class="wpisset-woo-loop-content-wrapper">
                                                                    <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                        <div class="wpisset-woo-loop-rating">
                                                                            <div class="wpisset-woo-loop-rating-wrap">
                                                                                <div class="wpisset-woo-loop-status in-stock">
                                                                                    <span>Trạng thái: </span>
                                                                                    <span>Đang kinh doanh</span>
                                                                                </div>
                                                                                <div class="wpisset-woo-loop-rating-inner">
                                                                                    <div class="wpisset-woo-loop-rating-starts">
                                                                                        <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                                                            <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                                                                        </div>
                                                                                        <span>(1)</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + product.get_name + '</h2>'.html_safe, '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                        <div class="wpisset-woo-loop-desc">
                                                                            <ul>
                                                                                <li>Intel Core i3 (Thế hệ 11)</li>
                                                                                <li>4GB | 128GB SSD</li>
                                                                                <li>Intel UHD Graphics</li>
                                                                                <li>13.3-Inch Full HD (1920 x 1080)</li>
                                                                                <li>Windows 10 Home</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wpisset-woo-loop-nav-price-wrap">
                                                                        <span class="price">
                                                                            <!-- <del><span class="thcn-Price-amount amount"><bdi><%= format_price(23990000) %></bdi></span></del> -->
                                                                            <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(product.product_price) %></bdi></span></ins>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <% (0..4).each do |menu| %>
                <div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943782715">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class=" wpisset_ele_es_header3 wpisset-ele-es-header3-variant2 wpisset_ele_es_header3-1466549668 vc_custom_1610096811046" >
                                    <h2 class="wpisset-ele-es-header3-title">
                                        <span>Máy Tính Để Bàn</span>
                                    </h2>
                                    <div class="wpisset-ele-es-header3-nav">
                                        <%= link_to '<span>'.html_safe + 'PC HP' + '</span>'.html_safe, '', title: '' %>
                                        <%= link_to '<span>'.html_safe + 'PC Dell' + '</span>'.html_safe, '', title: '' %>
                                        <%= link_to '<span>'.html_safe + 'PC Lenovo' + '</span>'.html_safe, '', title: '' %>
                                        <%= link_to '<span>'.html_safe + 'PC Acer' + '</span>'.html_safe, '', title: '' %>
                                        <%= link_to '<span>'.html_safe + 'PC Asus' + '</span>'.html_safe, '', title: '' %>
                                        <%= link_to '<span>'.html_safe + 'PC Fujitsu' + '</span>'.html_safe, '', title: '' %>
                                    </div>
                                </div>
                                <svg class="wpssiet-es-cs"><style></style></svg>
                                <div class="thcn columns-3 ">
                                    <ul class="products columns-3">
                                        <% (0..5).each_with_index do |product, index| %>
                                            <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 5 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                <div class="wpisset-woo-loop-wrapper">
                                                    <div class="wpisset-woo-loop-inner">
                                                        <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                            <%= link_to '<span class="onsale">'.html_safe + 'Mới 2021' + '</span>'.html_safe +
                                                                                    image_set_tag('/img/tmp_products/pc-dell-optiplex-7090-mff-800x800.jpg',
                                                                                                  {'/img/tmp_products/pc-dell-optiplex-7090-mff-1000x1000.jpg' => '1000w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-800x800.jpg' => '800w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-768x768.jpg' => '768w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-600x600.jpg' => '600w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-300x300.jpg' => '300w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-150x150.jpg' => '150w'},
                                                                                                  title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                    image_set_tag('/img/tmp_products/pc-dell-optiplex-7090-mff-800x800.jpg',
                                                                                                  {'/img/tmp_products/pc-dell-optiplex-7090-mff-1000x1000.jpg' => '1000w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-800x800.jpg' => '800w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-768x768.jpg' => '768w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-600x600.jpg' => '600w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-300x300.jpg' => '300w',
                                                                                                   '/img/tmp_products/pc-dell-optiplex-7090-mff-150x150.jpg' => '150w'},
                                                                                                  title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                    '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                        </div>
                                                        <div class="wpisset-woo-loop-content-wrapper">
                                                            <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                <div class="wpisset-woo-loop-rating">
                                                                    <div class="wpisset-woo-loop-rating-wrap">
                                                                        <div class="wpisset-woo-loop-status in-stock">
                                                                            <span>Trạng thái: </span>
                                                                            <span>Đang kinh doanh</span>
                                                                        </div>
                                                                        <div class="wpisset-woo-loop-rating-inner">
                                                                            <div class="wpisset-woo-loop-rating-starts">
                                                                                <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                                                    <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                                                                </div>
                                                                                <span>(1)</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + 'PC Dell OptiPlex 7090 MFF (i5 11500T/8GB RAM/256GB SSD/WLAN/Win 10/Đen)' + '</h2>'.html_safe, '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                <div class="wpisset-woo-loop-desc">
                                                                    <ul>
                                                                        <li>Intel Core i5 (Thế hệ 11)</li>
                                                                        <li>8GB | 256GB SSD</li>
                                                                        <li>Intel UHD Graphics 750</li>
                                                                        <li>Windows 10 Home</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="wpisset-woo-loop-nav-price-wrap">
                                                                <span class="price">
                                                                    <del><span class="thcn-Price-amount amount"><bdi><%= format_price(24990000) %></bdi></span></del>
                                                                    <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(22990000) %></bdi></span></ins>
                                                                </span> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943812690">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_banner3 wpisset_ele_es_banner3-881739608" >
                                <div class="wpisset-ele-es-banner3 wpisset-ele-es-banner3-no-res-img">
                                    <div class="wpisset-ele-es-banner3-item">
                                        <div class="wpisset-ele-es-banner3-item-wrap">
                                            <div class="wpisset-ele-es-banner3-item-bg">
                                                <div class="wpisset-ele-es-banner3-item-img">
                                                    <%= image_tag '/img/tmp_banners/banner3-2-drone.jpg', alt: '', title: '', class: 'wpisset-ele-es-banner3-img' %>
                                                </div>
                                            </div>
                                            <div class="wpisset-ele-es-banner3-item-content">
                                                <div class="wpisset-ele-es-banner3-item-content-title">
                                                    <span class="wpisset-ele-es-banner-font-strong">Máy Bay Drone DJI Mini 2</span><br>
                                                    <span class="wpisset-ele-es-banner-font-thin wpisset-ele-es-banner-font-animate">Fly More Combo</span><br>
                                                    <span class="wpisset-ele-es-banner-label">BÁN CHẠY NHẤT</span>
                                                </div>
                                                <div class="wpisset-ele-es-banner3-item-content-content">
                                                    <span class="wpisset-ele-es-banner-desc">Số Lượng Giới Hạn</span><br>
                                                    <span class="wpisset-ele-es-banner-price">
                                                        <%= format_price(13990000) %>
                                                        <del><%= format_price(18990000) %></del>
                                                    </span>
                                                    <%= link_to '<span>'.html_safe + 'ĐẶT MUA NGAY' + '</span>'.html_safe, '', title: '', class: 'wpisset-button' %>
                                                </div>
                                                <div class="wpisset-ele-es-banner3-item-content-badge">
                                                    <span class="wpisset-ele-es-banner3-item-content-badge-small">GIẢM</span> 10%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-content-title{font-size:28px}.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-wrap{border:1px solid #d7d7d7}@media screen and (min-width:1301px){.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-content{padding-left:1.5rem}}</style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612943806118">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_productcarousel1 wpisset-ele-es-productcarousel1-title-variant2 wpisset_ele_es_productcarousel1-1817232236">
                                <div class="wpisset-ele-es-productcarousel1-title-wrap wpisset-ele-es-productcarousel1-left" >
                                    <h2 class="wpisset-ele-es-productcarousel1-title">
                                        <span>SẢN PHẨM MỚI</span>
                                    </h2>
                                    <div class="wpisset-ele-es-productcarousel1-sec-nav">
                                        <div class="wpisset-ele-es-productcarousel1-sec-arrows"></div>
                                    </div>
                                </div>
                                <div class="wpisset-ele-es-productcarousel1 wpisset-ele-es-productcarousel">
                                    <div class="thcn columns-5 ">
                                        <ul class="products columns-5">
                                            <% (0..9).each_with_index do |product, index| %>
                                                <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 9 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                    <div class="wpisset-woo-loop-wrapper">
                                                        <div class="wpisset-woo-loop-inner">
                                                            <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                                <%= link_to '<span class="onsale">'.html_safe + 'Mới 2021' + '</span>'.html_safe +
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg',
                                                                                              {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                                               '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                            </div>
                                                            <div class="wpisset-woo-loop-content-wrapper">
                                                                <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                    <div class="wpisset-woo-loop-rating">
                                                                        <div class="wpisset-woo-loop-rating-wrap">
                                                                            <div class="wpisset-woo-loop-status in-stock">
                                                                                <span>Trạng thái: </span>
                                                                                <span>Đang kinh doanh</span>
                                                                            </div>
                                                                            <div class="wpisset-woo-loop-rating-inner">
                                                                                <div class="wpisset-woo-loop-rating-starts">
                                                                                    <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                                                                        <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                                                                    </div>
                                                                                    <span>(1)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + 'Laptop Dell Latitude 3320 (i3 1115G4/4GB RAM/128GB SSD/13.3" FHD/Win 10/Xám)' + '</h2>'.html_safe, '', title: '', class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                    <div class="wpisset-woo-loop-desc">
                                                                        <ul>
                                                                            <li>Intel Core i3 (Thế hệ 11)</li>
                                                                            <li>4GB | 128GB SSD</li>
                                                                            <li>Intel UHD Graphics</li>
                                                                            <li>13.3-Inch Full HD (1920 x 1080)</li>
                                                                            <li>Windows 10 Home</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="wpisset-woo-loop-nav-price-wrap">
                                                                    <span class="price">
                                                                        <del><span class="thcn-Price-amount amount"><bdi><%= format_price(23990000) %></bdi></span></del>
                                                                        <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(21990000) %></bdi></span></ins>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612943825601">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_header4 wpisset_ele_es_header4-1591999470 vc_custom_1610096918980" >
                                <div class="wpisset-ele-es-header4">
                                    <h2 class="wpisset-ele-es-header4-title">THƯƠNG HIỆU SẢN PHẨM</h2>
                                </div>
                                <div class="wpisset-ele-es-header4-sep1"></div><div class="wpisset-ele-es-header4-element"></div><div class="wpisset-ele-es-header4-sep2"></div>
                                <div class="wpisset-ele-es-header4-desc"><span>Nổi Bật Nhất</span></div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                            <div class=" wpisset_ele_es_logos wpisset_ele_es_logos-497494116 wpisset-ele-es-logos-col-5">
                                <div class="wpisset-ele-es-logos-row">
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="AMD" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/amd.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="APPLE" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/apple.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="DELL" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/dell.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="HP" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/hp.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="MSI" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/msi.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="ADOBE" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/adobe.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="MICROSOFT" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/microsoft.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="SAMSUNG" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/samsung.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="SONY" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/sony.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="XIAOMI" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/xiaomi.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch vc_custom_1609917565055 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1609917142399">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_recentviewedproducts wpisset_ele_es_recentviewedproducts-483614878 vc_custom_1613033166945">
                                <div class="wpisset-ele-es-recentviewedproducts-title-wrap" >
                                    <h2 class="wpisset-ele-es-recentviewedproducts-title">
                                        <span>SẢN PHẨM ĐÃ XEM</span>
                                        <span></span>
                                    </h2>
                                    <div class="wpisset-ele-es-recentviewedproducts-title-btn">
                                        <%= link_to '<span>'.html_safe + 'Xem toàn bộ' + '</span>'.html_safe, '', title: '', class: 'wpisset-button' %>
                                    </div>
                                </div>
                                <div class="wpisset-ele-es-recentviewedproducts-inner">
                                    <% (0..5).each do |product| %>
                                        <div class="product-type-simple wpisset-ele-es-recentviewedproducts-item sale">
                                            <div class="wpisset-ele-es-recentviewedproducts-item-img">
                                                <%= link_to image_set_tag('/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg',
                                                                          {'/img/tmp_products/laptop-dell-latitude-3320-1000x1000.jpg' => '1000w',
                                                                           '/img/tmp_products/laptop-dell-latitude-3320-800x800.jpg' => '800w',
                                                                           '/img/tmp_products/laptop-dell-latitude-3320-768x768.jpg' => '768w',
                                                                           '/img/tmp_products/laptop-dell-latitude-3320-600x600.jpg' => '600w',
                                                                           '/img/tmp_products/laptop-dell-latitude-3320-300x300.jpg' => '300w',
                                                                           '/img/tmp_products/laptop-dell-latitude-3320-150x150.jpg' => '150w'},
                                                                          title: '', alt: '', size: '1000x1000', sizes: '(max-width: 1000px) 100vw, 1000px', loading: 'lazy', class: 'attachment-full size-full wp-post-image'),
                                                            '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-recentviewedproducts-item-title">
                                                <%= link_to 'Laptop Dell Latitude 3320 (i3 1115G4/4GB RAM/128GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-recentviewedproducts-item-price wpisset-woo-price">
                                                <del><span class="thcn-Price-amount amount"><bdi><%= format_price(23990000) %></bdi></span></del>
                                                <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(21990000) %></bdi></span></ins>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>