<% title 'Trang Chủ' %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <span><span><span class="breadcrumb_last" aria-current="page">
                    Trang Chủ
                </span></span></span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-fullwide-row vc_custom_1609838232498 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1609835606827">
                        <div class="wpb_wrapper">
                            <p class="rs-p-wp-fix"></p>
                            <rs-module-wrap id="rev_slider_6_1_wrapper" data-source="gallery" style="background:#f5f5f5;padding:0;margin:0 auto;margin-top:0;margin-bottom:0">
                                <rs-module id="rev_slider_6_1" style="" data-version="6.4.8">
                                    <rs-slides>
                                        <% (0..2).each_with_index do |slide, index| %>
                                            <rs-slide data-key="rs-<%= index %>" data-title="Apple Watch Series 6" data-thumb="/img/revslider-50x100.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;" class="wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="Siêu khuyến mãi" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="Apple Watch Series 6 Silver Aluminum Case (Solo Loop)">
                                                <img src="/img/revslider.jpg" alt="revslider" title="revslider-01-03" width="1500" height="460" class="rev-slidebg tp-rs-img" data-no-retina>
                                                <rs-layer id="slider-6-slide-34-layer-0" data-type="image" data-rsp_ch="on" data-xy="x:c;xo:390px,260px,260px,0;yo:30px,30px,30px,400px;" data-text="w:normal;s:20,20,15,7;l:0,0,19,9;" data-dim="w:['390px','390px','390px','390px'];h:['460px','460px','460px','460px'];" data-frame_0="y:50,50,38,18;" data-frame_1="st:590;sp:900;" data-frame_999="o:0;st:w;sR:7510;" style="z-index:12;" >
                                                    <img src="/img/tmp_sliders/revslider-01-11.png" alt="revslider" class="tp-rs-img" width="390" height="460" data-no-retina>
                                                </rs-layer>
                                                <rs-layer id="slider-6-slide-34-layer-1" data-type="text" data-color="#111" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:-120px,-120px,-130px,-290px;" data-text="w:normal;s:48,48,60,60;l:48,48,60,60;fw:500;a:center;" data-frame_0="y:-50,-50,-38,-18;" data-frame_1="sp:600;" data-frame_999="o:0;st:w;sR:8000;" style="z-index:8;font-family:'Roboto';" >
                                                    Apple Watch Series 6
                                                </rs-layer>
                                                <rs-layer id="slider-6-slide-34-layer-2" data-type="text" data-color="#181c32" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:30px,30px,40px,-120px;" data-text="w:normal;s:24,24,30,30;l:24,24,30,30;a:center;" data-frame_0="y:-50,-50,-38,-18;" data-frame_1="st:600;sp:600;" data-frame_999="o:0;st:w;sR:7800;" style="z-index:10;font-family:'Roboto';" >
                                                    Phiên bản mới 2021
                                                </rs-layer>
                                                <rs-layer id="slider-6-slide-34-layer-3" data-type="text" data-color="#1bc5bd" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:-40px,-40px,-40px,-200px;" data-text="w:normal;s:60,60,72,72;l:60,60,72,72;fw:500;a:center;" data-frame_0="y:-50,-50,-38,-18;" data-frame_1="st:300;sp:600;" data-frame_999="o:0;st:w;sR:8100;" style="z-index:9;font-family:'Roboto';" >
                                                    Silver Aluminum
                                                </rs-layer>
                                                <a id="slider-6-slide-34-layer-4" class="rs-layer wpisset-rs-button wpisset-rs-button wpisset-cursor-disable-anim rev-btn" href="" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="x:c;xo:-70px,-250px,-220px,0;y:m;yo:120px,120px,120px,-40px;" data-text="w:normal;s:16,16,24,24;l:40,40,60,60;fw:500;" data-dim="minh:0px,none,none,none;" data-padding="r:25,25,37,37;l:25,25,37,37;" data-border="bor:30px,30px,30px,30px;" data-frame_0="y:50,50,38,18;" data-frame_1="st:600;sp:600;" data-frame_999="o:0;st:w;sR:7800;" data-frame_hover="bgc:#ee2d41;bor:30px,30px,25px,30px;bri:120%;" style="z-index:11;background-color:#007aff;font-family:'Roboto';" >
                                                    <span>Mua Ngay</span>
                                                </a>
                                                <rs-layer id="slider-6-slide-34-layer-5" data-type="image" data-rsp_ch="on" data-xy="x:c;xo:540px,410px,390px,160px;y:m;yo:-110px,-110px,-110px,140px;" data-text="w:normal;s:20,20,15,7;l:0,0,19,9;" data-dim="w:['174px','174px','174px','174px'];h:['40px','40px','40px','40px'];" data-frame_0="x:50,50,38,18;" data-frame_1="st:1200;sp:600;" data-frame_999="o:0;st:w;sR:7510;" style="z-index:13;" >
                                                    <img src="/img/tmp_sliders/revslider-01-10.png" alt="revslider" class="tp-rs-img" width="174" height="40" data-no-retina>
                                                </rs-layer>
                                            </rs-slide>
                                        <% end %>
                                    </rs-slides>
                                </rs-module>
                                <script type="text/javascript">setREVStartSize({c:"rev_slider_6_1",rl:[1301,1301,993,600],el:[460,460,500,720],gw:[1300,1300,992,480],gh:[460,460,500,720],type:"standard",justify:"",layout:"fullwidth",mh:"0"});var revapi6,tpj;function revinit_revslider61(){jQuery(function(){tpj=jQuery;revapi6=tpj("#rev_slider_6_1");if(revapi6==undefined||revapi6.revolution==undefined){revslider_showDoubleJqueryError("rev_slider_6_1")}else{revapi6.revolution({sliderLayout:"fullwidth",visibilityLevels:"1301,1301,993,600",gridwidth:"1300,1300,992,480",gridheight:"460,460,500,720",spinner:"spinner2",perspective:600,perspectiveType:"global",editorheight:"460,460,500,720",responsiveLevels:"1301,1301,993,600",progressBar:{disableProgressBar:true},navigation:{onHoverStop:false,bullets:{enable:true,tmp:"",style:"custom_copy97",h_offset:-70,space:20}},fallbacks:{allowHTML5AutoPlayOnAndroid:true},})}})}var once_revslider61=false;if(document.readyState==="loading"){document.addEventListener("readystatechange",function(){if((document.readyState==="interactive"||document.readyState==="complete")&&!once_revslider61){once_revslider61=true;revinit_revslider61()}})}else{once_revslider61=true;revinit_revslider61()};</script>
                                <script>var htmlDivCss=unescape("%23rev_slider_6_1_wrapper%20rs-loader.spinner2%7B%20background-color%3A%20%23ffffff%20%21important%3B%20%7D");var htmlDiv=document.getElementById("rs-plugin-settings-inline-css");if(htmlDiv){htmlDiv.innerHTML=htmlDiv.innerHTML+htmlDivCss}else{var htmlDiv=document.createElement("div");htmlDiv.innerHTML="<style>"+htmlDivCss+"</style>";document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0])};</script>
                                <script>var htmlDivCss=unescape(".custom_copy97.tp-bullets%20%7B%0A%7D%0A.custom_copy97.tp-bullets%3Abefore%20%7B%0A%09content%3A%27%20%27%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.custom_copy97%20.tp-bullet%20%7B%0A%09width%3A8px%3B%0A%09height%3A8px%3B%0A%09position%3Aabsolute%3B%0A%09background%3A%23aaa%3B%0A%20%20%20%20background%3Argba%280%2C0%2C0%2C0.2%29%3B%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20%20%20-webkit-transition%3A%20all%200.2s%3B%0A%20%20%20%20-moz-transition%3A%20all%200.2s%3B%0A%20%20%20%20-o-transition%3A%20all%200.2s%3B%0A%20%20%20%20transition%3A%20all%200.2s%3B%0A%20%20border%3Anone%3B%0A%7D%0A.custom_copy97%20.tp-bullet%3Ahover%2C%0A.custom_copy97%20.tp-bullet.selected%20%7B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%7D%0A.custom_copy97%20.tp-bullet.selected%3Aafter%7B%0A%20%20%20%20content%3A%20%22%22%3B%0A%20%20%20%20position%3A%20absolute%3B%0A%20%20%20%20left%3A%200%3B%0A%20%20%20%20top%3A%200%3B%0A%20%20%20%20display%3A%20block%3B%0A%20%20%20%20height%3A%2016px%3B%0A%20%20%20%20width%3A%2016px%3B%0A%20%20%20%20border%3A%201px%20solid%20rgba%280%2C%200%2C%200%2C%200.2%29%3B%0A%09-webkit-transform%3A%20translateY%28-25%25%29%20translateX%28-25%25%29%3B%0A%09transform%3A%20translateY%28-25%25%29%20translateX%28-25%25%29%3B%0A%09border-radius%3A%2050%25%3B%0A%20%20%20%20-webkit-transition%3A%20all%200.2s%3B%0A%20%20%20%20-moz-transition%3A%20all%200.2s%3B%0A%20%20%20%20-o-transition%3A%20all%200.2s%3B%0A%20%20%20%20transition%3A%20all%200.2s%3B%0A%7D%0A.custom_copy97%20.tp-bullet-image%20%7B%0A%7D%0A.custom_copy97%20.tp-bullet-title%20%7B%0A%7D%0A%0A");var htmlDiv=document.getElementById("rs-plugin-settings-inline-css");if(htmlDiv){htmlDiv.innerHTML=htmlDiv.innerHTML+htmlDivCss}else{var htmlDiv=document.createElement("div");htmlDiv.innerHTML="<style>"+htmlDivCss+"</style>";document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0])};</script>
                                <script>var htmlDivCss=unescape("%0A%0A%0A");var htmlDiv=document.getElementById("rs-plugin-settings-inline-css");if(htmlDiv){htmlDiv.innerHTML=htmlDiv.innerHTML+htmlDivCss}else{var htmlDiv=document.createElement("div");htmlDiv.innerHTML="<style>"+htmlDivCss+"</style>";document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0])};</script>
                            </rs-module-wrap>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612944263041">
                <% (0..2).each do |banner| %>
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpisset-custom-home-ii-style-1 wpisset_ele_es_banner1 wpisset_ele_es_banner1" >
                                    <div class="wpisset-ele-es-banner1">
                                        <a class="wpisset-ele-es-banner1-item" href="" title="">
                                            <div class="wpisset-ele-es-banner1-item-wrap">
                                                <div class="wpisset-ele-es-banner1-item-bg">
                                                    <div class="wpisset-ele-es-banner1-item-img">
                                                        <%= image_tag '/img/tmp_banners/banner1-2-phone.jpg', alt: '', title: '' %>
                                                    </div>
                                                </div>
                                                <div class="wpisset-ele-es-banner1-item-content">
                                                    <div class="wpisset-ele-es-banner1-item-content-title">iPhone 12 Pro Max<br>256GB Màu Bạc</div>
                                                    <div class="wpisset-ele-es-banner1-item-content-content">
                                                        <br><span class="wpisset-ele-es-banner-desc">ĐẶT HÀNG TRƯỚC</span>
                                                        <br><span class="wpisset-ele-es-banner-price"><%= format_price(31990000) %><del><%= format_price(33490000) %></del></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{min-height:200px}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-top:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-bottom:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-left:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-right:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-wrap{border:1px solid #d7d7d7}</style></svg>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612943774916">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_categorybanner1 wpisset_ele_es_categorybanner1-190930925">
                                <div class="wpisset-ele-es-categorybanner1 wpisset-ele-es-categorybanner1-breakpoint-992">
                                    <div class="wpisset-ele-es-categorybanner1-nav">
                                        <div class="wpisset-ele-es-categorybanner1-nav-inner">
                                            <h3 class="wpisset-ele-es-categorybanner1-title"><span>THƯƠNG HIỆU LAPTOP</span></h3>
                                            <div class="wpisset-ele-es-categorybanner1-menu">
                                                <ul class="">
                                                    <% @laptop_brands.each do |brand| %>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                            <%= link_to brand.get_name, '', title: '' %>
                                                        </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                            <%= link_to '<span>'.html_safe + 'XEM TOÀN BỘ' + '</span>'.html_safe, '', title: '', class: 'wpisset-button' %>
                                        </div>
                                        <span class="wpisset-ele-es-categorybanner1-cursor-wrap"><span class="wpisset-ele-es-categorybanner1-cursor-holder"><span class="wpisset-ele-es-categorybanner1-cursor"></span></span></span>
                                    </div>
                                    <div class="wpisset-ele-es-categorybanner1-img">
                                        <div class="wpisset-ele-es-categorybanner1-img-bg wpisset-ele-es-animate-image">
                                            <%= image_tag '/img/tmp_banners/categorybanner1-1.jpg', alt: '', title: '', class: 'wpisset-ele-es-categorybanner1-image' %>
                                            <%= image_tag '/img/tmp_banners/categorybanner1-res.jpg', alt: '', title: '', class: 'wpisset-ele-es-categorybanner1-responsive-image' %>
                                        </div>
                                    </div>
                                    <div class="wpisset-ele-es-categorybanner1-products">
                                        <div class="thcn columns-3 ">
                                            <ul class="products columns-3">
                                                <% @laptop_products.each_with_index do |product, index| %>
                                                    <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 5 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                        <div class="wpisset-woo-loop-wrapper">
                                                            <div class="wpisset-woo-loop-inner">
                                                                <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                                    <% if product.is_new? %>
                                                                        <%= link_to '<span class="onsale">'.html_safe + 'Mới' + '</span>'.html_safe +
                                                                                    image_set_tag(product.get_main_image.image_url_url,
                                                                                                  {product.get_main_image.image(:thumb445) => '445w',
                                                                                                   product.get_main_image.image(:thumb193) => '193w'},
                                                                                                  title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                    image_set_tag(product.get_main_image.image_url_url,
                                                                                                  {product.get_main_image.image(:thumb445) => '445w',
                                                                                                   product.get_main_image.image(:thumb193) => '193w'},
                                                                                                  title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                    product_link(product), title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                    <% else %>
                                                                        <%= link_to image_set_tag(product.get_main_image.image_url_url,
                                                                                                  {product.get_main_image.image(:thumb445) => '445w',
                                                                                                   product.get_main_image.image(:thumb193) => '193w'},
                                                                                                  title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                    image_set_tag(product.get_main_image.image_url_url,
                                                                                                  {product.get_main_image.image(:thumb445) => '445w',
                                                                                                   product.get_main_image.image(:thumb193) => '193w'},
                                                                                                  title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                    product_link(product), title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                    <% end %>
                                                                </div>
                                                                <div class="wpisset-woo-loop-content-wrapper">
                                                                    <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                        <div class="wpisset-woo-loop-rating">
                                                                            <div class="wpisset-woo-loop-rating-wrap">
                                                                                <div class="wpisset-woo-loop-status in-stock">
                                                                                    <span>Trạng thái: </span>
                                                                                    <span>Đang kinh doanh</span>
                                                                                </div>
                                                                                <div class="wpisset-woo-loop-rating-inner">
                                                                                    <div class="wpisset-woo-loop-rating-starts">
                                                                                        <div class="star-rating" role="img" aria-label="Đánh giá 0.0 / 5.0">
                                                                                            <span style="width:0%">Đánh giá <strong class="rating">0.0</strong> / 5.0</span>
                                                                                        </div>
                                                                                        <span>(0)</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + product.get_short_name + '</h2>'.html_safe, product_link(product), title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                        <div class="wpisset-woo-loop-desc">
                                                                            <ul>
                                                                                <% product.product_short_descipriton_values_array_new_specs.each do |row| %>
                                                                                    <li><%= row[:values].join(", ") %></li>
                                                                                <% end %>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wpisset-woo-loop-nav-price-wrap">
                                                                        <span class="price">
                                                                            <% if product.product_listed_price.to_f > 1 %>
                                                                                <del><span class="thcn-Price-amount amount"><bdi>
                                                                                    <%= format_price(product.product_listed_price) %>
                                                                                </bdi></span></del>
                                                                            <% end %>
                                                                            <% if (product.product_price.nil?) || (product.product_price.to_f <= 1) %>
                                                                                <ins><span class="thcn-Price-amount amount"><bdi>
                                                                                    Đang Cập Nhật Giá
                                                                                </bdi></span></ins>
                                                                            <% else %>
                                                                                <ins><span class="thcn-Price-amount amount"><bdi>
                                                                                    <%= format_price(product.product_price) %>
                                                                                </bdi></span></ins>
                                                                            <% end %>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            
            <%= render 'frontend/home/apple_brand', brand: @apple, title: 'Sản Phẩm Apple' %>
            <%= render 'frontend/home/desktop_category', category: @desktop, title: 'Máy Tính Để Bàn' %>
            <%= render 'frontend/home/workstation_category', category: @workstation, title: 'Máy Tính Trạm' %>
            <%= render 'frontend/home/server_category', category: @server, title: 'Máy Chủ' %>
            <%= render 'frontend/home/aio_category', category: @aio, title: 'Máy Tính Đồng Bộ' %>
            <%= render 'frontend/home/computer_components_category', products: @computer_components, title: 'Linh Kiện Máy Tính' %>
            <%= render 'frontend/home/computer_accessories_category', products: @computer_accessories, title: 'Phụ Kiện Máy Tính' %>
            <%= render 'frontend/home/monitor_pc_category', category: @monitor_pc, title: 'Màn Hình Máy Tính' %>
            <%= render 'frontend/home/monitor_signage_category', category: @monitor_signage, title: 'Màn Hình Quảng Cáo' %>
            <%= render 'frontend/home/printer_category', products: @printer, title: 'Máy In' %>
            <%= render 'frontend/home/network_category', products: @network, title: 'Thiết Bị Mạng' %>
            <%= render 'frontend/home/camera_category', category: @camera, title: 'Camera Quan Sát' %>
            
            <div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943812690">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_banner3 wpisset_ele_es_banner3-881739608" >
                                <div class="wpisset-ele-es-banner3 wpisset-ele-es-banner3-no-res-img">
                                    <div class="wpisset-ele-es-banner3-item">
                                        <div class="wpisset-ele-es-banner3-item-wrap">
                                            <div class="wpisset-ele-es-banner3-item-bg">
                                                <div class="wpisset-ele-es-banner3-item-img">
                                                    <%= image_tag '/img/tmp_banners/banner3-2-drone.jpg', alt: '', title: '', class: 'wpisset-ele-es-banner3-img' %>
                                                </div>
                                            </div>
                                            <div class="wpisset-ele-es-banner3-item-content">
                                                <div class="wpisset-ele-es-banner3-item-content-title">
                                                    <span class="wpisset-ele-es-banner-font-strong">Máy Bay Drone DJI Mini 2</span><br>
                                                    <span class="wpisset-ele-es-banner-font-thin wpisset-ele-es-banner-font-animate">Fly More Combo</span><br>
                                                    <span class="wpisset-ele-es-banner-label">BÁN CHẠY NHẤT</span>
                                                </div>
                                                <div class="wpisset-ele-es-banner3-item-content-content">
                                                    <span class="wpisset-ele-es-banner-desc">Số Lượng Giới Hạn</span><br>
                                                    <span class="wpisset-ele-es-banner-price">
                                                        <%= format_price(13990000) %>
                                                        <del><%= format_price(18990000) %></del>
                                                    </span>
                                                    <%= link_to '<span>'.html_safe + 'ĐẶT MUA NGAY' + '</span>'.html_safe, '', title: '', class: 'wpisset-button' %>
                                                </div>
                                                <div class="wpisset-ele-es-banner3-item-content-badge">
                                                    <span class="wpisset-ele-es-banner3-item-content-badge-small">GIẢM</span> 10%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-content-title{font-size:28px}.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-wrap{border:1px solid #d7d7d7}@media screen and (min-width:1301px){.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-content{padding-left:1.5rem}}</style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612943806118">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_productcarousel1 wpisset-ele-es-productcarousel1-title-variant2 wpisset_ele_es_productcarousel1-1817232236">
                                <div class="wpisset-ele-es-productcarousel1-title-wrap wpisset-ele-es-productcarousel1-left" >
                                    <h2 class="wpisset-ele-es-productcarousel1-title">
                                        <span>SẢN PHẨM MỚI</span>
                                    </h2>
                                    <div class="wpisset-ele-es-productcarousel1-sec-nav">
                                        <div class="wpisset-ele-es-productcarousel1-sec-arrows"></div>
                                    </div>
                                </div>
                                <div class="wpisset-ele-es-productcarousel1 wpisset-ele-es-productcarousel">
                                    <div class="thcn columns-5 ">
                                        <ul class="products columns-5">
                                            <% @newest_products.each_with_index do |product, index| %>
                                                <li class="wpisset-post wpisset-woo-has-gallery product type-product status-publish<% if index == 0 %> first<% elsif index == 9 %> last<% else %><% end %> instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                    <div class="wpisset-woo-loop-wrapper">
                                                        <div class="wpisset-woo-loop-inner">
                                                            <div class="wpisset-woo-loop-thumbnail-wrapper">
                                                                <% if product.is_new? %>
                                                                    <%= link_to '<span class="onsale">'.html_safe + 'Mới' + '</span>'.html_safe +
                                                                                    image_set_tag(product.get_main_image.image_url_url,
                                                                                                {product.get_main_image.image(:thumb445) => '445w',
                                                                                                product.get_main_image.image(:thumb193) => '193w'},
                                                                                                title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                    image_set_tag(product.get_main_image.image_url_url,
                                                                                                {product.get_main_image.image(:thumb445) => '445w',
                                                                                                product.get_main_image.image(:thumb193) => '193w'},
                                                                                                title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                    product_link(product), title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                <% else %>
                                                                    <%= link_to image_set_tag(product.get_main_image.image_url_url,
                                                                                            {product.get_main_image.image(:thumb445) => '445w',
                                                                                            product.get_main_image.image(:thumb193) => '193w'},
                                                                                            title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                                                image_set_tag(product.get_main_image.image_url_url,
                                                                                            {product.get_main_image.image(:thumb445) => '445w',
                                                                                            product.get_main_image.image(:thumb193) => '193w'},
                                                                                            title: product.get_name, alt: product.get_name, size: '445x445', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'wp-post-image wp-post-image-secondary'),
                                                                                product_link(product), title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                <% end %>
                                                            </div>
                                                            <div class="wpisset-woo-loop-content-wrapper">
                                                                <div class="wpisset-woo-loop-content-inner wpisset-woo-enable-loop-desc1">
                                                                    <div class="wpisset-woo-loop-rating">
                                                                        <div class="wpisset-woo-loop-rating-wrap">
                                                                            <div class="wpisset-woo-loop-status in-stock">
                                                                                <span>Trạng thái: </span>
                                                                                <span>Đang kinh doanh</span>
                                                                            </div>
                                                                            <div class="wpisset-woo-loop-rating-inner">
                                                                                <div class="wpisset-woo-loop-rating-starts">
                                                                                    <div class="star-rating" role="img" aria-label="Đánh giá 0.0 / 5.0">
                                                                                        <span style="width:0%">Đánh giá <strong class="rating">0.0</strong> / 5.0</span>
                                                                                    </div>
                                                                                    <span>(0)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <%= link_to '<h2 class="thcn-loop-product__title">'.html_safe + product.get_short_name + '</h2>'.html_safe, product_link(product), title: product.get_name, class: 'thcn-LoopProduct-link thcn-loop-product__link' %>
                                                                    <div class="wpisset-woo-loop-desc">
                                                                        <ul>
                                                                            <% product.product_short_descipriton_values_array_new_specs.each do |row| %>
                                                                                <li><%= row[:values].join(", ") %></li>
                                                                            <% end %>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="wpisset-woo-loop-nav-price-wrap">
                                                                    <span class="price">
                                                                        <% if product.product_listed_price.to_f > 1 %>
                                                                            <del><span class="thcn-Price-amount amount"><bdi>
                                                                                <%= format_price(product.product_listed_price) %>
                                                                            </bdi></span></del>
                                                                        <% end %>
                                                                        <% if (product.product_price.nil?) || (product.product_price.to_f <= 1) %>
                                                                            <ins><span class="thcn-Price-amount amount"><bdi>
                                                                                Đang Cập Nhật Giá
                                                                            </bdi></span></ins>
                                                                        <% else %>
                                                                            <ins><span class="thcn-Price-amount amount"><bdi>
                                                                                <%= format_price(product.product_price) %>
                                                                            </bdi></span></ins>
                                                                        <% end %>
                                                                    </span>
                                                                </div>
                                                                <div class="wpisset-woo-loop-nav"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612943825601">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_header4 wpisset_ele_es_header4-1591999470 vc_custom_1610096918980" >
                                <div class="wpisset-ele-es-header4">
                                    <h2 class="wpisset-ele-es-header4-title">THƯƠNG HIỆU SẢN PHẨM</h2>
                                </div>
                                <div class="wpisset-ele-es-header4-sep1"></div><div class="wpisset-ele-es-header4-element"></div><div class="wpisset-ele-es-header4-sep2"></div>
                                <div class="wpisset-ele-es-header4-desc"><span>Nổi Bật Nhất</span></div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                            <div class=" wpisset_ele_es_logos wpisset_ele_es_logos-497494116 wpisset-ele-es-logos-col-5">
                                <div class="wpisset-ele-es-logos-row">
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="AMD" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/amd.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="APPLE" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/apple.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="DELL" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/dell.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="HP" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/hp.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="MSI" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/msi.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="ADOBE" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/adobe.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="MICROSOFT" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/microsoft.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="SAMSUNG" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/samsung.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="SONY" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/sony.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                    <div class="wpisset-ele-es-logos-item wpisset-cursor-anim-element wpisset-cursor-anim-element-3" data-cursor-text="XIAOMI" data-cursor-color="#ee2d41" data-cursor-text-color="#fff" data-cursor-subtitle="">
                                        <div class="wpisset-ele-es-logos-item-img">
                                            <%= image_tag '/img/tmp_brands/xiaomi.png', alt: '', title: '', size: '190x95', loading: 'lazy', class: 'attachment-full size-full' %>
                                        </div>
                                        <%= link_to '', '', title: '', class: 'wpisset-ele-es-logos-item-link' %>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch vc_custom_1609917565055 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1609917142399">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_recentviewedproducts wpisset_ele_es_recentviewedproducts-483614878 vc_custom_1613033166945">
                                <div class="wpisset-ele-es-recentviewedproducts-title-wrap" >
                                    <h2 class="wpisset-ele-es-recentviewedproducts-title">
                                        <span>SẢN PHẨM ĐÃ XEM</span>
                                        <span></span>
                                    </h2>
                                    <div class="wpisset-ele-es-recentviewedproducts-title-btn">
                                        <%= link_to 'Xem toàn bộ', '', title: '', class: 'wpisset-button' %>
                                    </div>
                                </div>
                                <div class="wpisset-ele-es-recentviewedproducts-inner">
                                    <% @newest_products.limit(6).each do |product| %>
                                        <div class="product-type-simple wpisset-ele-es-recentviewedproducts-item sale">
                                            <div class="wpisset-ele-es-recentviewedproducts-item-img">
                                                <%= link_to image_set_tag(product.get_main_image.image_url_url,
                                                                          {product.get_main_image.image(:thumb445) => '445w',
                                                                           product.get_main_image.image(:thumb193) => '193w'},
                                                                          title: product.get_name, alt: product.get_name, size: '445w', sizes: '(max-width: 445px) 100vw, 445px', loading: 'lazy', class: 'attachment-full size-full wp-post-image'),
                                                            product_link(product), title: product.get_name %>
                                            </div>
                                            <div class="wpisset-ele-es-recentviewedproducts-item-title">
                                                <%= link_to product.get_short_name, product_link(product), title: product.get_name %>
                                            </div>
                                            <div class="wpisset-ele-es-recentviewedproducts-item-price wpisset-woo-price">
                                                <% if product.product_listed_price.to_f > 1 %>
                                                    <del><span class="thcn-Price-amount amount"><bdi>
                                                        <%= format_price(product.product_listed_price) %>
                                                    </bdi></span></del>
                                                <% end %>
                                                <% if (product.product_price.nil?) || (product.product_price.to_f <= 1) %>
                                                    <ins><span class="thcn-Price-amount amount"><bdi>
                                                        Đang Cập Nhật Giá
                                                    </bdi></span></ins>
                                                <% else %>
                                                    <ins><span class="thcn-Price-amount amount"><bdi>
                                                        <%= format_price(product.product_price) %>
                                                    </bdi></span></ins>
                                                <% end %>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style></style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>