<div class="wpisset-footer-newsletter">
    <div class="wpisset-inner-footer-newsletter wpisset-container wpisset-container-center">
        <div class="wpisset-row">
            <div class="wpisset-col-md-6 wpisset-col-xs-12">
                <span class="wpisset-custom-title" style="color:#fff;font-size:20px;font-weight:500">ĐĂNG KÝ NHẬN EMAIL</span><br />
                <span class="wpisset-custom-title" style="color:#fff;font-size:18px;font-weight:400">THÔNG BÁO KHUYẾN MÃI HOẶC TIN CÔNG NGHỆ MỚI</span>
                <span class="wpisset-custom-title wpisset-ele-es-custom-text-animate" style="color:#ffc421;font-size:18px;font-weight:500">NĂM 2021</span>
            </div>
            <div class="wpisset-col-md-6 wpisset-col-xs-12">
                <script>(function(){window.mc4wp=window.mc4wp||{listeners:[],forms:{on:function(evt,cb){window.mc4wp.listeners.push({event:evt,callback:cb});}}}})();</script>
                <form id="" class="mc4wp-form mc4wp-form-235" method="post" data-id="" data-name="" >
                    <div class="mc4wp-form-fields">
                        <div class="wpisset-mc4wp-custom-form-1">
                            <p><%= email_field '', '', placeholder: 'Nhập email của bạn', required: true %></p>
                            <p><%= submit_tag 'Gửi' %></p>
                        </div>
                    </div>
                    <label style="display: none !important;">
                        Xác nhận không phải người máy: 
                        <%= text_field '', '', tabindex: '-1', autocomplete: 'off' %>
                    </label>
                    <%= hidden_field '', ''  %>
                    <%= hidden_field '', ''  %>
                    <%= hidden_field '', ''  %>
                    <div class="mc4wp-response"></div>
                </form>
            </div>
        </div>
    </div>
</div>