<footer class="wpisset-page-footer">
    <div class="wpisset-inner-footer wpisset-container wpisset-container-center">
        <div class="wpisset-row">
            <div class="wpisset-col-lg-4 wpisset-col-md-6 wpisset-col-xs-12">
                <div class="widget-odd widget-first wpisset-text-widget-custom-styles-1 widget widget_text">
                    <h4 class="wpisset-widgettitle"><span>THÔNG TIN LIÊN HỆ</span><span></span></h4>
                    <div class="textwidget">
                        <p>
                            <%= link_to '188 đường Số 1, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh', '', title: '', rel: 'noopener noreferrer', target: '_blank' %><br />
                            <strong>SĐT/Email: </strong><%= link_to '(028) 3984 7690', 'tel:02839847690', title: '' %> | <%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %><br />
                            <strong>OA Zalo/Fanpage: </strong><%= link_to 'OA Zalo', '//zalo.me/2132561812454227126', title: '', rel: 'noopener noreferrer', target: '_blank' %> | <%= link_to 'Fanpage', '//www.facebook.com/TimHangCongNghe', title: '', rel: 'noopener noreferrer', target: '_blank' %>
                        </p>
                    </div>
                </div>
                <div class="widget-even widget widget_text">
                    <h4 class="wpisset-widgettitle"><span>THEO DÕI MXH</span><span></span></h4>
                    <div class="textwidget">
                        <div class="wpisset-social-icons wpisset-social-icons-75421545">
                            <a class="wpisset-social-icon wpisset-social-facebook wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="facebook" data-cursor-color="#d9214e" data-cursor-text-color="#fff" target="_blank" href="" rel="noopener"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg">
                                <path d="M12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.1 8.4 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.3c-1.2 0-1.6.8-1.6 1.6V12h2.8l-.4 2.9h-2.3v7C18.3 21.1 22 17 22 12c0-5.5-4.5-10-10-10z"></path></svg>
                            </a>
                            <a class="wpisset-social-icon wpisset-social-youtube wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="youtube" data-cursor-color="#d9214e" data-cursor-text-color="#fff" target="_blank" href="" rel="noopener">
                                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg"><path d="M21.8,8.001c0,0-0.195-1.378-0.795-1.985c-0.76-0.797-1.613-0.801-2.004-0.847c-2.799-0.202-6.997-0.202-6.997-0.202 h-0.009c0,0-4.198,0-6.997,0.202C4.608,5.216,3.756,5.22,2.995,6.016C2.395,6.623,2.2,8.001,2.2,8.001S2,9.62,2,11.238v1.517 c0,1.618,0.2,3.237,0.2,3.237s0.195,1.378,0.795,1.985c0.761,0.797,1.76,0.771,2.205,0.855c1.6,0.153,6.8,0.201,6.8,0.201 s4.203-0.006,7.001-0.209c0.391-0.047,1.243-0.051,2.004-0.847c0.6-0.607,0.795-1.985,0.795-1.985s0.2-1.618,0.2-3.237v-1.517 C22,9.62,21.8,8.001,21.8,8.001z M9.935,14.594l-0.001-5.62l5.404,2.82L9.935,14.594z"></path></svg>
                            </a>
                            <a class="wpisset-social-icon wpisset-social-twitter wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="twitter" data-cursor-color="#d9214e" data-cursor-text-color="#fff" target="_blank" href="" rel="noopener">
                                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg"><path d="M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z"></path></svg>
                            </a>
                            <a class="wpisset-social-icon wpisset-social-pinterest wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="pinterest" data-cursor-color="#d9214e" data-cursor-text-color="#fff" target="_blank" href="" rel="noopener">
                                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg"><path d="M12.289,2C6.617,2,3.606,5.648,3.606,9.622c0,1.846,1.025,4.146,2.666,4.878c0.25,0.111,0.381,0.063,0.439-0.169 c0.044-0.175,0.267-1.029,0.365-1.428c0.032-0.128,0.017-0.237-0.091-0.362C6.445,11.911,6.01,10.75,6.01,9.668 c0-2.777,2.194-5.464,5.933-5.464c3.23,0,5.49,2.108,5.49,5.122c0,3.407-1.794,5.768-4.13,5.768c-1.291,0-2.257-1.021-1.948-2.277 c0.372-1.495,1.089-3.112,1.089-4.191c0-0.967-0.542-1.775-1.663-1.775c-1.319,0-2.379,1.309-2.379,3.059 c0,1.115,0.394,1.869,0.394,1.869s-1.302,5.279-1.54,6.261c-0.405,1.666,0.053,4.368,0.094,4.604 c0.021,0.126,0.167,0.169,0.25,0.063c0.129-0.165,1.699-2.419,2.142-4.051c0.158-0.59,0.817-2.995,0.817-2.995 c0.43,0.784,1.681,1.446,3.013,1.446c3.963,0,6.822-3.494,6.822-7.833C20.394,5.112,16.849,2,12.289,2"></path></svg>
                            </a>
                            <a class="wpisset-social-icon wpisset-social-instagram wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="instagram" data-cursor-color="#d9214e" data-cursor-text-color="#fff" target="_blank" href="" rel="noopener">
                                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg"><path d="M12,4.622c2.403,0,2.688,0.009,3.637,0.052c0.877,0.04,1.354,0.187,1.671,0.31c0.42,0.163,0.72,0.358,1.035,0.673 c0.315,0.315,0.51,0.615,0.673,1.035c0.123,0.317,0.27,0.794,0.31,1.671c0.043,0.949,0.052,1.234,0.052,3.637 s-0.009,2.688-0.052,3.637c-0.04,0.877-0.187,1.354-0.31,1.671c-0.163,0.42-0.358,0.72-0.673,1.035 c-0.315,0.315-0.615,0.51-1.035,0.673c-0.317,0.123-0.794,0.27-1.671,0.31c-0.949,0.043-1.233,0.052-3.637,0.052 s-2.688-0.009-3.637-0.052c-0.877-0.04-1.354-0.187-1.671-0.31c-0.42-0.163-0.72-0.358-1.035-0.673 c-0.315-0.315-0.51-0.615-0.673-1.035c-0.123-0.317-0.27-0.794-0.31-1.671C4.631,14.688,4.622,14.403,4.622,12 s0.009-2.688,0.052-3.637c0.04-0.877,0.187-1.354,0.31-1.671c0.163-0.42,0.358-0.72,0.673-1.035 c0.315-0.315,0.615-0.51,1.035-0.673c0.317-0.123,0.794-0.27,1.671-0.31C9.312,4.631,9.597,4.622,12,4.622 M12,3 C9.556,3,9.249,3.01,8.289,3.054C7.331,3.098,6.677,3.25,6.105,3.472C5.513,3.702,5.011,4.01,4.511,4.511 c-0.5,0.5-0.808,1.002-1.038,1.594C3.25,6.677,3.098,7.331,3.054,8.289C3.01,9.249,3,9.556,3,12c0,2.444,0.01,2.751,0.054,3.711 c0.044,0.958,0.196,1.612,0.418,2.185c0.23,0.592,0.538,1.094,1.038,1.594c0.5,0.5,1.002,0.808,1.594,1.038 c0.572,0.222,1.227,0.375,2.185,0.418C9.249,20.99,9.556,21,12,21s2.751-0.01,3.711-0.054c0.958-0.044,1.612-0.196,2.185-0.418 c0.592-0.23,1.094-0.538,1.594-1.038c0.5-0.5,0.808-1.002,1.038-1.594c0.222-0.572,0.375-1.227,0.418-2.185 C20.99,14.751,21,14.444,21,12s-0.01-2.751-0.054-3.711c-0.044-0.958-0.196-1.612-0.418-2.185c-0.23-0.592-0.538-1.094-1.038-1.594 c-0.5-0.5-1.002-0.808-1.594-1.038c-0.572-0.222-1.227-0.375-2.185-0.418C14.751,3.01,14.444,3,12,3L12,3z M12,7.378 c-2.552,0-4.622,2.069-4.622,4.622S9.448,16.622,12,16.622s4.622-2.069,4.622-4.622S14.552,7.378,12,7.378z M12,15 c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S13.657,15,12,15z M16.804,6.116c-0.596,0-1.08,0.484-1.08,1.08 s0.484,1.08,1.08,1.08c0.596,0,1.08-0.484,1.08-1.08S17.401,6.116,16.804,6.116z"></path></svg>
                            </a>
                        </div>
                        <svg class="wpssiet-es-cs"><style>.wpisset-social-icons-75421545 svg{width:20px}.wpisset-social-icons-75421545 a{fill:#0095E8}.wpisset-social-icons-75421545 a:hover{fill:#181c32}</style></svg>
                    </div>
                </div>
            </div>
            <div class="wpisset-col-lg-2-2 wpisset-col-md-6 wpisset-col-xs-12">
                <div class="widget-odd widget-first wpisset-custom-widget-list-style1 widget widget_nav_menu">
                    <h4 class="wpisset-widgettitle"><span>HỖ TRỢ KHÁCH HÀNG</span><span></span></h4>
                    <div class="menu-about-us-container">
                        <ul class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Hướng dẫn mua hàng', shopping_guide_link, title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Hướng dẫn thanh toán', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Gửi yêu cầu bảo hành', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'In hóa đơn điện tử', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Góp ý & Khiếu nại', '', title: '' %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wpisset-col-lg-2-2 wpisset-col-md-6 wpisset-col-xs-12">
                <div class="widget-odd widget-first wpisset-custom-widget-list-style1 widget widget_nav_menu">
                    <h4 class="wpisset-widgettitle"><span>CHÍNH SÁCH CHUNG</span><span></span></h4>
                    <div class="menu-help-container">
                        <ul class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Chính sách, quy định chung', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Chính sách vận chuyển', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Chính sách bảo hành', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Chính sách đổi trả, hoàn tiền', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Chính sách hàng chính hãng', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Bảo mật thông tin khách hàng', '', title: '' %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wpisset-col-lg-2-2 wpisset-col-md-6 wpisset-col-xs-12">
                <div class="widget-odd widget-first wpisset-custom-widget-list-style1 widget widget_nav_menu">
                    <h4 class="wpisset-widgettitle"><span>LIÊN KẾT TRANG</span><span></span></h4>
                    <div class="menu-quick-links-container">
                        <ul class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Giới thiệu công ty', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Thông tin liên hệ', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Tin tức công nghệ', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Thông tin khuyến mãi', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Sản phẩm bán chạy', '', title: '' %>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <%= link_to 'Sản phẩm mới ra mắt', '', title: '' %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpisset-inner-footer-imgs wpisset-container wpisset-container-center">
        <div class="wpisset-row">
            <div class="wpisset-col-xs-12">
                <div class="wpisset-footer-imgs">
                    <div class="wpisset-row">
                        <div class="wpisset-footer-img1 wpisset-col-md-6 wpisset-col-xs-12">
                            <%= image_tag '/img/footer-thanks.png', alt: '', title: '' %>
                        </div>
                        <div class="wpisset-footer-img2 wpisset-col-md-6 wpisset-col-xs-12 wpisset-end-md">
                            <%= image_tag '/img/pm.png', alt: '', title: '' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpisset-page-footer-bottom">
        <div class="wpisset-inner-footer-bottom wpisset-container wpisset-container-center wpisset-container-fluid">
            <div class="wpisset-row">
                <div class="wpisset-col-md-6 wpisset-col-xs-12">
                    &copy; 2008 ~ 2021 Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang.<br />
                    GPĐKKD số 0306146736 do Sở KH&ĐT TP. Hồ Chí Minh cấp lần đầu ngày 06/11/2008.
                </div>
                <div class="wpisset-col-md-6 wpisset-col-xs-12 wpisset-end-md">
                    <ul class="wpisset-footer-menu wpisset-end-md">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom">
                            <%= link_to 'RSS Feeds', '', title: '' %>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom">
                            <%= link_to 'Sitemap', '', title: '' %>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom">
                            <%= link_to 'Giấy Chứng Nhận', '', title: '' %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>