<% title @page_title.html_safe %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <span>
                    <span>
                        <%= link_to 'Trang Chủ', root_link, title: '' %> » 
                        <span class="breadcrumb_last" aria-current="page">Thông Tin Liên Hệ</span>
                    </span>
                </span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top vc_custom_1612369308245 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;line-height:1;text-align:left" class="vc_custom_heading wpisset-custom-contact-style-1 vc_custom_1612681614002" >
                                Thông Tin Liên Hệ
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612959383407">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element wpisset-custom-contact-style-2" >
                                <div class="wpb_wrapper">
                                    <p style="text-align:justify">
                                       Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển. Thành lập từ năm 2008 đến nay, Công ty đã tạo được chỗ đứng vững chắc trên thị trường bán buôn, bán lẻ, trở thành thương hiệu quen thuộc và là đối tác tin cậy của nhiều bạn hàng trong khu vực TP. Hồ Chí Minh và cả Nước.
                                    </p>
                                    <p style="text-align:justify">
                                        Luôn lấy yếu tố hài hòa về lợi ích làm nền tảng, lãnh đạo Công ty hiểu rằng, niềm tin của khách hàng về giá thành, chất lượng và dịch vụ là sự sống còn của Công ty. Do vậy, mọi hoạt động kinh doanh của Công ty luôn hướng tới mục tiêu tôn trọng và bảo đảm quyền lợi cho khách hàng, chinh phục khách hàng bằng chất lượng sản phẩm và dịch vụ tối ưu. Để được phục vụ tốt nhất, Quý khách vui lòng liên hệ với chúng tôi theo các thông tin sau:
                                    </p>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612959378310">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-521395492" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-1.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Số Điện Thoại</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-521395492 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>Kinh doanh: </strong><%= link_to '(028) 3984 7690', '', title: '' %><br/>
                                        <strong>Kế toán: </strong><%= link_to '(028) 3984 7690', '', title: '' %><br/>
                                        <strong>Kỹ thuật: </strong><%= link_to '(028) 3984 7690', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1520301126" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-2.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Địa Chỉ Email</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1520301126 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>Kinh doanh: </strong><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %><br/>
                                        <strong>Kế toán: </strong><%= mail_to 'ketoan@hoangkhang.com.vn', 'ketoan@hoangkhang.com.vn', title: '' %><br/>
                                        <strong>Kỹ thuật: </strong><%= mail_to 'kythuat@hoangkhang.com.vn', 'kythuat@hoangkhang.com.vn', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1864148057" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-3.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">LiveChat Trực Tiếp</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1864148057 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>OA Zalo: </strong><%= link_to 'Chat ngay', '', title: '' %><br/>
                                        <strong>Messenger: </strong><%= link_to 'Chat ngay', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1577179575" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-4.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Vị Trí Công Ty</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1577179575 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <%= link_to 'Xem trên bản đồ', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpisset-ele-es-animate-fadein vc_custom_1612959393777 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-1 vc_hidden-sm vc_hidden-xs">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-10">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;">
                                        <span class="wpisset-custom-title" style="color:#181c32;font-size:24px;font-weight:500;line-height:1.2">
                                            Gửi Thắc Mắc, Góp Ý
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div role="form" class="wpcf7" id="" lang="" dir="ltr">
                                <div class="screen-reader-response">
                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                    <ul></ul>
                                </div>
                                <form action="" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                    <div style="display:none">
                                        <input type="hidden" name="" value=""/>
                                        <input type="hidden" name="" value=""/>
                                        <input type="hidden" name="" value=""/>
                                    </div>
                                    <div class="wpisset-row">
                                        <div class="wpisset-col-xs-12">
                                            <p class="wpisset-animated-label-wrap">
                                                <label for="">Họ và Tên (*)</label>
                                                <span class="wpcf7-form-control-wrap your-name">
                                                    <input type="text" name="" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="" aria-required="true" aria-invalid="false"/>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="wpisset-col-md-6 wpisset-col-xs-12">
                                            <p class="wpisset-animated-label-wrap">
                                                <label for="">Email (*)</label>
                                                <span class="wpcf7-form-control-wrap your-email">
                                                    <input type="email" name="" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="" aria-required="true" aria-invalid="false"/>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="wpisset-col-md-6 wpisset-col-xs-12">
                                            <p class="wpisset-animated-label-wrap">
                                                <label for="">Số điện thoại (*)</label>
                                                <span class="wpcf7-form-control-wrap your-email">
                                                    <input type="email" name="" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="" aria-required="true" aria-invalid="false"/>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="wpisset-col-xs-12">
                                            <p class="wpisset-animated-label-wrap">
                                                <label for="your-message">Nội dung</label>
                                                <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" id="your-message" aria-invalid="false"></textarea>
                                                </span>
                                            </p>
                                            <p style="text-align:center">
                                              <input type="submit" value="Gửi Lời Nhắn" class="wpcf7-form-control wpcf7-submit"/>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>