<% title @product.get_name %>

<div class="wpisset-row">
    <main id="main" class="wpisset-main wpisset-col-xs-12 wpisset-thcn-content">
        <div class="wpisset-single-product-breadcrumb">
            <nav class="thcn-breadcrumb">
                <%= link_to 'Trang Chủ', root_link, title: '' %> <span class="wpisset-sp-breadcrumb-delimiter">&#47;</span>
                <% if !@category.nil? %>
                    <% @category.self_and_parent_menus.each do |category| %>
                        <% if category.parent.present? %>
                            <%= link_to category.get_name, category_list_link(category), title: category.get_name %> <span class="wpisset-sp-breadcrumb-delimiter">&#47;</span>
                        <% end %>
                    <% end %>
                <% end %>
                <%= @product.get_name %>
            </nav>
            <div class="wpisset-single-product-share-btn-wrap">
                <a href="#wpisset-single-product-share-btns" class="wpisset-single-product-share-btn" data-navigation-title="CHIA SẺ MXH">Chia sẻ<svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="36" height="36" viewBox="0 0 36 36" xmlns="//www.w3.org/2000/svg"><path d="M20,8c-1.212,0 -2.286,-0.553 -3.021,-1.407l-9.079,4.541c0.062,0.279 0.1,0.566 0.1,0.864c0,0.27 -0.028,0.534 -0.08,0.79l9.064,4.613c0.734,-0.85 1.807,-1.401 3.016,-1.401c2.206,0 4,1.794 4,4c0,2.206 -1.794,4 -4,4c-2.206,0 -4,-1.794 -4,-4c0,-0.278 0.029,-0.55 0.083,-0.812l-9.052,-4.608c-0.735,0.861 -1.813,1.42 -3.031,1.42c-2.206,0 -4,-1.795 -4,-4.002c0,-2.206 1.794,-4 4,-4c1.19,0 2.248,0.532 2.981,1.359l9.101,-4.551c-0.054,-0.261 -0.082,-0.53 -0.082,-0.806c0,-2.206 1.794,-4 4,-4c2.206,0 4,1.794 4,4c0,2.206 -1.794,4 -4,4Zm0,14c1.103,0 2,-0.898 2,-2c0,-1.103 -0.897,-2 -2,-2c-1.102,0 -2,0.897 -2,2c0,1.102 0.898,2 2,2Zm-16,-12.002c-1.102,0 -2,0.898 -2,2c0,1.103 0.898,2.002 2,2.002c1.103,0 2,-0.899 2,-2.002c0,-1.102 -0.897,-2 -2,-2Zm16,-7.998c-1.102,0 -2,0.898 -2,2c0,1.103 0.898,2 2,2c1.103,0 2,-0.897 2,-2c0,-1.102 -0.897,-2 -2,-2Z" transform="scale(1.5)" fill-rule="evenodd" fill="%23000"></path></svg></a>
                <div id="wpisset-single-product-share-btns" class="wpisset-single-product-share-btns">
                    <div class="wpisset-single-product-share-btns-wrap">
                        <div class="wpisset-single-product-share-btns-inner">
                            <span class="wpisset-ele-es-social-btns2">
                                <a class="wpisset-ele-es-social-icon" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url %>">
                                    <span class="wpisset-ele-es-social-icon-inner"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg"><path d="M12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.1 8.4 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.3c-1.2 0-1.6.8-1.6 1.6V12h2.8l-.4 2.9h-2.3v7C18.3 21.1 22 17 22 12c0-5.5-4.5-10-10-10z"></path></svg><svg class="wpisset-ele-es-social-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="12.5" rx="12.5" cy="13" cx="13" stroke-width="1" stroke="#ebebeb" fill="transparent"/> <ellipse class="circle" ry="12.5" rx="12.5" cy="13" cx="13" stroke-width="1" stroke="#111" fill="transparent"/></g></svg></span>
                                    Facebook
                                </a>
                                <a class="wpisset-ele-es-social-icon" target="_blank" href="https://twitter.com/home?status=<%= request.url %>">
                                    <span class="wpisset-ele-es-social-icon-inner"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg"><path d="M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z"></path></svg><svg class="wpisset-ele-es-social-icon-border" xmlns="//www.w3.org/2000/svg"> <g> <ellipse ry="12.5" rx="12.5" cy="13" cx="13" stroke-width="1" stroke="#ebebeb" fill="transparent"/> <ellipse class="circle" ry="12.5" rx="12.5" cy="13" cx="13" stroke-width="1" stroke="#111" fill="transparent"/></g></svg></span>
                                    Twitter
                                </a>
                                <a class="wpisset-ele-es-social-icon" target="_blank" href="https://pinterest.com/pin/create/button/?url=<%= @product.get_main_image.image(:thumb650) %>&media=<%= request.url %>&description=<%= @product.get_name %>">
                                    <span class="wpisset-ele-es-social-icon-inner"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="24" height="24" viewBox="0 0 24 24" xmlns="//www.w3.org/2000/svg"><path d="M12.289,2C6.617,2,3.606,5.648,3.606,9.622c0,1.846,1.025,4.146,2.666,4.878c0.25,0.111,0.381,0.063,0.439-0.169 c0.044-0.175,0.267-1.029,0.365-1.428c0.032-0.128,0.017-0.237-0.091-0.362C6.445,11.911,6.01,10.75,6.01,9.668 c0-2.777,2.194-5.464,5.933-5.464c3.23,0,5.49,2.108,5.49,5.122c0,3.407-1.794,5.768-4.13,5.768c-1.291,0-2.257-1.021-1.948-2.277 c0.372-1.495,1.089-3.112,1.089-4.191c0-0.967-0.542-1.775-1.663-1.775c-1.319,0-2.379,1.309-2.379,3.059 c0,1.115,0.394,1.869,0.394,1.869s-1.302,5.279-1.54,6.261c-0.405,1.666,0.053,4.368,0.094,4.604 c0.021,0.126,0.167,0.169,0.25,0.063c0.129-0.165,1.699-2.419,2.142-4.051c0.158-0.59,0.817-2.995,0.817-2.995 c0.43,0.784,1.681,1.446,3.013,1.446c3.963,0,6.822-3.494,6.822-7.833C20.394,5.112,16.849,2,12.289,2"></path></svg><svg class="wpisset-ele-es-social-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="12.5" rx="12.5" cy="13" cx="13" stroke-width="1" stroke="#ebebeb" fill="transparent"/><ellipse class="circle" ry="12.5" rx="12.5" cy="13" cx="13" stroke-width="1" stroke="#111" fill="transparent"/></g></svg></span>
                                    Pinterest
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="thcn-notices-wrapper"></div>
        <div class="wpisset-post wpisset-woo-has-gallery product type-product status-publish first instock has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
            <div class="wpisset-sp-inner-wrap">
                <div class="wpisset-thcn-content-wrapper">
                    <% if @product.is_new? %><span class="onsale">Mới</span><% end %>
                    <div class="thcn-product-gallery thcn-product-gallery--with-images thcn-product-gallery--columns-5 images" data-columns="5" style="opacity: 0; transition: opacity .25s ease-in-out;">
                        <figure class="thcn-product-gallery__wrapper">
                            <div data-thumb="<%= @product.get_main_image.image(:thumb193) %>" data-thumb-alt="<%= @product.get_name %>" class="thcn-product-gallery__image">
                                <a href="<%= @product.get_main_image.image() %>" title="<%= @product.get_name %>">
                                    <img width="650" height="650" src="<%= @product.get_main_image.image(:thumb650) %>" class="wp-post-image" alt="<%= @product.get_name %>" loading="lazy" 
                                         title="<%= @product.get_name.gsub(/[\/\-\"\(\)\.]/i, ' ') %>" data-caption="<%= @product.get_name %>" 
                                         data-src="<%= @product.get_main_image.image() %>" 
                                         data-large_image="<%= @product.get_main_image.image(:thumb650) %>" 
                                         data-large_image_width="1000" data-large_image_height="1000" 
                                         srcset="<%= @product.get_main_image.image(:thumb650) %> 1000w, <%= @product.get_main_image.image(:thumb650) %> 650w, <%= @product.get_main_image.image(:thumb445) %> 445w, <%= @product.get_main_image.image(:thumb193) %> 193w" 
                                         sizes="(max-width: 650px) 100vw, 650px" />
                                </a>
                            </div>
                            <% @product.get_all_images.each_with_index do |image,index| %>
                                <% if index != 0 %>
                                    <div data-thumb="<%= image.image(:thumb193) %>" data-thumb-alt="<%= @product.get_name %>" class="thcn-product-gallery__image">
                                        <a href="<%= image.image() %>" title="<%= @product.get_name %>">
                                            <img width="650" height="650" src="<%= image.image(:thumb650) %>" class="" alt="<%= @product.get_name %>" loading="lazy" 
                                            title="<%= @product.get_name.gsub(/[\/\-\"\(\)\.]/i, ' ') %>" data-caption="<%= @product.get_name %>" 
                                            data-src="<%= image.image() %>" 
                                            data-large_image="<%= image.image(:thumb650) %>" 
                                            data-large_image_width="1000" data-large_image_height="1000" 
                                            srcset="<%= image.image(:thumb650) %> 1000w, <%= image.image(:thumb650) %> 650w, <%= image.image(:thumb445) %> 445w, <%= image.image(:thumb193) %> 193w" 
                                            sizes="(max-width: 650px) 100vw, 650px" />
                                        </a>
                                    </div>
                                <% end %>
                            <% end %>
                        </figure>
                    </div>
                    <div class="summary entry-summary">
                        <h1 class="product_title entry-title"><%= @product.get_name %></h1>
                        <div class="wpisset-single-product-rating-sku">
                            <div class="wpisset-single-product-star-rating">
                                <div class="thcn-product-rating">
                                    <div class="star-rating" role="img" aria-label="Đáh giá 0.0 / 5.0">
                                        <span style="width:0%">Đánh giá <strong class="rating">0.0</strong> / 5.0 <span class="rating">0</span> khách hàng đánh giá</span>
                                    </div>
                                    <span class="wpisset-product-average-rating">(0.0)</span>
                                    <a href="#reviews" class="thcn-review-link" rel="nofollow"><span><span class="count">0</span> Đánh giá</span></a>
                                </div>
                            </div>
                        </div>
                        <% if @product.code? %>
                            <div class="wpisset-single-product-rating-sku">
                                <span class="wpisset-sku-wrapper">
                                    <span class="wpisset-sku-label"><strong>MÃ SẢN PHẨM:</strong></span>
                                    <span class="wpisset-sku"><%= @product.code %></span>
                                </span>
                            </div>
                        <% end %>
                        <p class="price">
                            <% if @product.product_listed_price.to_f > 1 %>
                                <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>
                                    <%= format_price(@product.product_listed_price) %>
                                </bdi></span></del>
                            <% end %>
                            <% if (@product.product_price.nil?) || (@product.product_price.to_f <= 1) %>
                                <ins><span class="thcn-Price-amount amount"><bdi>
                                    Đang Cập Nhật Giá
                                </bdi></span></ins>
                            <% else %>
                                <ins><span class="thcn-Price-amount amount"><bdi>
                                    <%= format_price(@product.product_price) %>
                                </bdi></span></ins>
                            <% end %>
                        </p>
                        <div class="thcn-product-details__short-description">
                            <ul>
                                <% @product.product_short_descipriton_values_array_new_specs.each do |row| %>
                                    <li><b><%= row[:name] %>: </b><%= row[:values].join(", ") %></li>
                                <% end %>
                                <% if @product.brand_id? %>
                                    <li><strong>THƯƠNG HIỆU: </strong><%= link_to @product.get_brand_name, '', title: @product.get_brand_name, target: '_blank' %>
                                <% end %>
                                <% if @product.warranty? %>
                                    | <strong>BẢO HÀNH: </strong><%= link_to @product.warranty.to_s + ' Tháng', '', title: '' %></li>
                                <% else %>
                                    | <strong>BẢO HÀNH: </strong><%= link_to 'Đang cập nhật', '', title: '' %></li>
                                <% end %>
                                <% if @product.weights? %>
                                    <li><strong>Vận chuyển (G.Weight): </strong><%= @product.weights %></li>
                                <% end %>
                            </ul>
                            <div class="wpisset-icon-content-wrap wpisset-icon-content-wrap-546887885">
                                <div class="wpisset-icon-content wpisset-icon-content-116432877">
                                    <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
                                    <span>
                                        QUÀ TẶNG TRỊ GIÁ <%= format_price(1500000) %>: </br>
                                        &#8594; <%= link_to 'Chuột không dây', '', title: '' %> (Trị giá <%= format_price(169000) %>)</br>
                                        &#8594; <%= link_to 'Tấm lót chuột', '', title: '' %> (Trị giá <%= format_price(49000) %>)</br>
                                        &#8594; <%= link_to 'Đế tản nhiệt laptop', '', title: '' %> (Trị giá <%= format_price(99000) %>)</br>
                                        &#8594; <%= link_to 'Bộ vệ sinh laptop', '', title: '' %> (Trị giá <%= format_price(39000) %>)</br>
                                        &#8594; <%= link_to 'Túi đựng laptop', '', title: '' %> (Trị giá <%= format_price(149000) %>)</br>
                                        &#8594; <%= link_to 'Phiếu vệ sinh, bảo dưỡng laptop', '', title: '' %> (Trị giá <%= format_price(999000) %>)
                                    </span>
                                </div>
                                <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-116432877 img{margin-right:.5rem;margin-top:.25rem;max-width:14px!important}.wpisset-icon-content-116432877{align-items:flex-start;margin-top:.5rem;margin-bottom:.5rem}</style></svg>
                                <div class="wpisset-icon-content wpisset-icon-content-429732693">
                                    <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
                                    <span>Xem phần mềm <%= link_to 'Xem sản phẩm', '', title: '' %></span>
                                </div>
                                <div class="wpisset-icon-content wpisset-icon-content-429732693">
                                    <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
                                    <span>Phần mềm hệ điều hành <%= link_to 'Xem sản phẩm', '', title: '' %></span>
                                </div>
                                <div class="wpisset-icon-content wpisset-icon-content-429732693">
                                    <%= image_tag '/img/icons/shopping_tag.png', alt: '', title: '' %>
                                    <span>Phần mềm ứng dụng <%= link_to 'Xem sản phẩm', '', title: '' %></span>
                                </div>
                                <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-429732693 img{margin-right:.5rem;margin-top:.25rem;max-width:14px!important}.wpisset-icon-content-429732693{align-items:flex-start;margin-top:.5rem;margin-bottom:.5rem}</style></svg>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-wrap-546887885 .wpisset-icon-content{font-size:95%!important}.wpisset-icon-content-wrap-546887885{color:#ee9901}.wpisset-icon-content-wrap-546887885 a{color:#1bc5bd}.wpisset-icon-content-wrap-546887885 a:hover{color:#1bc5bd}.wpisset-icon-content-wrap-546887885{background-color:#fffcf2}.wpisset-icon-content-wrap-546887885{border-color:#f5d47a}.wpisset-icon-content-wrap-546887885{padding-right:.5rem}.wpisset-icon-content-wrap-546887885{padding-left:.5rem}.wpisset-icon-content-wrap-546887885{border-radius:5px}table.dataTable.compare-list tr .wpisset-icon-content-wrap{display:none!important}.wpssiet-es-cs{display:none}</style></svg>
                        </div>
                        <div class="wpisset-sp-add-to-cart-wrap">
                            <form class="cart" action="" method="post" enctype=''>
                                <div class="wpisset-sp-add-to-cart-inner-wrap">
                                    <div class="wpisset-sp-add-to-cart-btn-wrap">
                                        <div class="quantity">
                                            <label class="screen-reader-text" for=""><%= @product.get_name %></label>
                                            <input type="number" id="" class="input-text qty text" step="1" min="1" max="" name="" value="1" title="" size="4" placeholder="" inputmode="numeric"/>
                                        </div>
                                        <button type="submit" name="" value="" class="single_add_to_cart_button button alt">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                    <div class="wpisset-sp-add-to-cart-extra-btns">
                                        <div class="wpisset-add-to-wishlist wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="DANH SÁCH YÊU THÍCH" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                                            <svg class="wpisset-woo-loop-nav-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#ebebeb" fill="transparent"/><ellipse class="circle" ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#111" fill="transparent"/></g></svg>
                                            <div class="yith-wcwl-add-to-wishlist  wishlist-fragment on-first-load" data-fragment-ref="71" data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:71,&quot;parent_product_id&quot;:71,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">
                                                <div class="yith-wcwl-add-button">
                                                    <a href="" rel="nofollow" data-product-id="71" data-product-type="simple" data-original-product-id="71" class="add_to_wishlist single_add_to_wishlist" data-title="Add to wishlist">
                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                                        <span>THÊM VÀO DANH SÁCH YÊU THÍCH</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpisset-add-to-compare wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="SO SÁNH SẢN PHẨM" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                                            <svg class="wpisset-woo-loop-nav-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#ebebeb" fill="transparent"/><ellipse class="circle" ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#111" fill="transparent"/></g></svg>
                                            <div class="thcn product compare-button">
                                                <a href="" class="compare button" data-product_id="71" rel="nofollow">SO SÁNH SẢN PHẨM</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="wpisset-sp-custom-cats">
                            <span class="wpisset-posted-in">
                                <span class="wpisset-posted-in-inner">
                                    <span class="wpisset-posted-in-label"><strong>TAGs:</strong></span>
                                    <%= link_to 'máy tính xách tay', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'máy tính xách tay dell', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop dell', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop dell latitude', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop dell latitude 3320', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop dell latitude i3', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop dell latitude 3320 i3', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop dell latitude core i3', '', title: '', rel: 'tag' %>,
                                    <%= link_to 'laptop dell latitude 3320 core i3', '', title: '', rel: 'tag' %>
                                </span>
                            </span>
                        </div> -->
                    </div>
                    <!-- <div class="yith-wfbt-section thcn">
                        <h3>SẢN PHẨM CÙNG NHÓM</h3>
                        <ul class="yith-wfbt-items">
                            <li class="yith-wfbt-item">
                                <label>
                                    <span class="product-name"><%= link_to @product.get_name, product_link(@product), title: @product.get_name %></span>&ndash;
                                    <span class="price">
                                        <ins>
                                            <span class="thcn-Price-amount amount">
                                                <bdi>
                                                    <% if @product.product_price.nil? %>
                                                        Đang cập nhật
                                                    <% else %>
                                                        <%= format_price(@product.product_price) %>
                                                    <% end %>
                                                </bdi>
                                            </span>
                                        </ins>
                                    </span>
                                </label>
                            </li>
                            <li class="yith-wfbt-item">
                                <label>
                                    <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i7 1165G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                                    <span class="price">
                                        <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(32990000) %></bdi></span></del>
                                        <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(30990000) %></bdi></span></ins>
                                    </span>
                                </label>
                            </li>
                            <li class="yith-wfbt-item">
                                <label>
                                    <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i5 1135G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                                    <span class="price">
                                        <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(28990000) %></bdi></span></del>
                                        <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(26990000) %></bdi></span></ins>
                                    </span>
                                </label>
                            </li>
                            <li class="yith-wfbt-item">
                                <label>
                                    <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i7 1165G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                                    <span class="price">
                                        <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(32990000) %></bdi></span></del>
                                        <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(30990000) %></bdi></span></ins>
                                    </span>
                                </label>
                            </li>
                            <li class="yith-wfbt-item">
                                <label>
                                    <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i5 1135G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                                    <span class="price">
                                        <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(28990000) %></bdi></span></del>
                                        <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(26990000) %></bdi></span></ins>
                                    </span>
                                </label>
                            </li>
                            <li class="yith-wfbt-item">
                                <label>
                                    <span class="product-name"><%= link_to 'Laptop Dell Latitude 3320 (i7 1165G7/8GB RAM/256GB SSD/13.3" FHD/Win 10/Xám)', '', title: '' %></span>&ndash;
                                    <span class="price">
                                        <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(32990000) %></bdi></span></del>
                                        <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(30990000) %></bdi></span></ins>
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="thcn-tabs wc-tabs-wrapper">
                    <ul class="tabs wc-tabs" role="tablist">
                        <% if @product.description? %>
                            <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                                <a href="#tab-description">Mô Tả Sản Phẩm</a>
                            </li>
                        <% end %>
                        <li class="additional_information_tab" id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
                            <a href="#tab-additional_information">Thông Số Sản Phẩm</a>
                        </li>
                        <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                            <a href="#tab-reviews">Đánh Giá (4)</a>
                        </li>
                    </ul>
                    <% if @product.description? %>
                        <div class="thcn-Tabs-panel thcn-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <h2>MÔ TẢ SẢN PHẨM</h2>
                            <div class="wpisset-detail-description">
                                <%= @product.description.html_safe %>
                            </div>
                            <div class="wpisset-sp-custom-tags">
                                <span class="wpisset-tagged-as">
                                    <span class="wpisset-tagged-as-inner">
                                        <span class="wpisset-tagged-as-label">TAGs:</span>
                                        <%= link_to 'máy tính xách tay', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop', '', title: '', rel: 'tag' %>
                                        <%= link_to 'máy tính xách tay dell', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop dell', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop dell latitude', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop dell latitude 3320', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop dell latitude i3', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop dell latitude 3320 i3', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop dell latitude core i3', '', title: '', rel: 'tag' %>
                                        <%= link_to 'laptop dell latitude 3320 core i3', '', title: '', rel: 'tag' %>
                                    </span>
                                </span>
                            </div>
                        </div>
                    <% end %>
                    <div class="thcn-Tabs-panel thcn-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">
                        <h2>Thông Số Kỹ Thuật</h2>
                        <table class="thcn-product-attributes shop_attributes">
                            <% @product.product_long_descipriton_values_array.each do |group| %>
                                <% group[:properties].each do |property| %>
                                    <tr class="thcn-product-attributes-item">
                                        <th class="thcn-product-attributes-item__label"><%= property[:property].name %></th>
                                        <td class="thcn-product-attributes-item__value">
                                            <%= property[:values].count < 3 ? property[:values].join(', ') : ('<p>' + property[:values].join('</p><p>') + '</p>').html_safe %>
                                        </td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </table>
                    </div>
                    <div class="thcn-Tabs-panel thcn-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                        <div id="reviews" class="thcn-Reviews">
                            <div id="comments">
                                <h2 class="thcn-Reviews-title">Đánh Giá Sản Phẩm</h2>
                                <p class="woocommerce-noreviews">Chưa có đánh giá cho sản phẩm này.</p>
                            </div>
                            <div id="review_form_wrapper">
                                <div id="review_form">
                                    <div id="respond" class="comment-respond">
                                        <span id="reply-title" class="comment-reply-title">
                                            Viết Đánh Giá Cho Sản Phẩm <small><a rel="nofollow" id="cancel-comment-reply-link" href="" style="display:none;">Hủy Đánh Giá</a></small>
                                        </span>
                                        <form action="" method="post" id="commentform" class="comment-form" novalidate>
                                            <p class="comment-notes"><span>Email và số điện thoại sẽ được ẩn. Đánh giá hợp lệ phải có lịch sử mua hàng tại Tìm Hàng Công Nghệ.</span></p>
                                            <div class="comment-form-rating">
                                                <label for="rating">Điểm đánh giá&nbsp;<span class="required">*</span></label>
                                                <select name="rating" id="rating" required>
                                                    <option value="">Đánh giá&hellip;</option>
                                                    <option value="5">Rất hài lòng</option>
                                                    <option value="4">Hài lòng</option>
                                                    <option value="3">Bình thường</option>
                                                    <option value="2">Tạm được</option>
                                                    <option value="1">Không thích</option>
                                                </select>
                                            </div>
                                            <p>
                                                <label for="">Nhập nội dung đánh giá (Tối thiểu 80 ký tự)&nbsp;<span class="required">*</span></label>
                                                <textarea id="" name="" cols="45" rows="8" required></textarea>
                                            </p>
                                            <p class="comment-form-author">
                                               <label for="">Họ tên&nbsp;<span class="required">*</span></label>
                                               <input id="" name="" type="text" value="" size="30" required />
                                            </p>
                                            <p class="comment-form-email">
                                                <label for="">Email&nbsp;<span class="required">*</span></label>
                                                <input id="" name="" type="email" value="" size="30" required />
                                            </p>
                                            <p class="comment-form-phone">
                                                <label for="">Số điện thoại&nbsp;<span class="required">*</span></label>
                                                <input id="" name="" type="text" value="" size="30" required />
                                            </p>
                                            <p class="form-submit">
                                                <input name="submit" type="submit" id="" class="submit" value="GỬI ĐÁNH GIÁ" />
                                                <input type='hidden' name='' id='' value='' />
                                                <input type='hidden' name='' id='' value='' />
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div> -->
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpisset-sp-extented-price-cart">
                <div class="wpisset-sp-extented-price-cart-wrapper">
                    <div class="wpisset-sp-extented-price-cart-inner">
                        <% if (@product.product_listed_price.to_f > 1) && (@product.product_price.to_f > 1) && (@product.product_listed_price.to_f > @product.product_price.to_f) %>
                            <div class="wpisset-sp-extented-price-cart-save">
                                <div class="wpisset-sp-extented-price-cart-save-was">
                                    Giảm <span class="thcn-Price-amount amount"><bdi>
                                        <%= format_price(@product.product_discount_price) %>
                                    </bdi></span>
                                </div>
                                <% if @product.product_discount_percent.to_f >= 1 %>
                                    <div class="wpisset-sp-extented-price-cart-save-total">
                                        Tiết kiệm <span class="thcn-Price-amount amount"><bdi>
                                            <%= @product.product_discount_percent.to_f.round(1) %>%
                                        </bdi></span>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                        <p class="price">
                            <% if @product.product_listed_price.to_f > 1 %>
                                <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi>
                                    <%= format_price(@product.product_listed_price) %>
                                </bdi></span></del>
                            <% end %>
                            <% if (@product.product_price.nil?) || (@product.product_price.to_f <= 1) %>
                                <ins><span class="thcn-Price-amount amount"><bdi>
                                    Đang Cập Nhật Giá
                                </bdi></span></ins>
                            <% else %>
                                <ins><span class="thcn-Price-amount amount"><bdi>
                                    <%= format_price(@product.product_price) %>
                                </bdi></span></ins>
                            <% end %>
                        </p>
                        <div class="wpisset-sp-add-to-cart-wrap">
                            <form class="cart" action="" method="post" enctype=''>
                                <div class="wpisset-sp-add-to-cart-inner-wrap">
                                    <div class="wpisset-sp-add-to-cart-btn-wrap">
                                        <div class="quantity">
                                            <label class="screen-reader-text" for="">Đặt Mua Ngay <%= @product.get_name %></label>
                                            <input type="number" id="<%= @product.id %>" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Đặt Mua Ngay <%= @product.get_name %>" size="4" placeholder="Đặt Mua Ngay <%= @product.get_name %>" inputmode="numeric"/>
                                        </div>
                                        <button type="submit" name="" value="Đặt Mua Ngay <%= @product.get_name %>" class="single_add_to_cart_button button alt">THÊM VÀO GIỎ HÀNG</button>
                                    </div>
                                    <div class="wpisset-sp-add-to-cart-extra-btns">
                                        <div class="wpisset-add-to-wishlist wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="DANH SÁCH YÊU THÍCH" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                                            <svg class="wpisset-woo-loop-nav-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#ebebeb" fill="transparent"/><ellipse class="circle" ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#111" fill="transparent"/></g></svg>
                                            <div class="yith-wcwl-add-to-wishlist  wishlist-fragment on-first-load" data-fragment-ref="<%= @product.id %>" data-fragment-options="">
                                                <div class="yith-wcwl-add-button">
                                                    <a href="" title="THÊM <%= @product.get_name %> VÀO DANH SÁCH YÊU THÍCH" rel="nofollow" data-product-id="<%= @product.id %>" data-product-type="simple" data-original-product-id="<%= @product.id %>" class="add_to_wishlist single_add_to_wishlist" data-title="THÊM <%= @product.get_name %> VÀO DANH SÁCH YÊU THÍCH">
                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                                        <span>THÊM <%= @product.get_name %> VÀO DANH SÁCH YÊU THÍCH</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpisset-add-to-compare wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="SO SÁNH SẢN PHẨM" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                                            <svg class="wpisset-woo-loop-nav-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#ebebeb" fill="transparent"/><ellipse class="circle" ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#111" fill="transparent"/></g></svg>
                                            <div class="thcn product compare-button">
                                                <a href="" title="Thêm <%= @product.get_name %> Vào Danh Sách So Sánh" class="compare button" data-product_id="<%= @product.id %>" rel="nofollow">
                                                    Thêm <%= @product.get_name %> Vào Danh Sách So Sánh
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="wpisset-woo-product-extra-content">
                        <div class="wpisset-icon-content-wrap wpisset-icon-content-wrap-1177157228">
                            <div class="wpisset-icon-content wpisset-icon-content-297025123">
                                <%= image_tag '/img/icons/box-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Cam kết hàng chính hãng 100%' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-297025123 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-297025123{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-1090033015">
                                <%= image_tag '/img/icons/truck-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Đổi trả trong vòng 10 ngày' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-1090033015 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-1090033015{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-333813810">
                                <%= image_tag '/img/icons/gift-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Miễn phí giao hàng khu vực TP. Hồ Chí Minh' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-333813810 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-333813810{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-1090033015">
                                <%= image_tag '/img/icons/truck-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Đổi trả trong vòng 10 ngày' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-1090033015 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-1090033015{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-333813810">
                                <%= image_tag '/img/icons/gift-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Miễn phí giao hàng khu vực TP. Hồ Chí Minh' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-333813810 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-333813810{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                        </div>
                        <svg class="wpssiet-es-cs"><style>table.dataTable.compare-list tr .wpisset-icon-content-wrap{display: none !important;}.wpssiet-es-cs{display: none;}</style></svg>
                    </div>
                    <div class="wpisset-woo-product-extra-content">
                        <div class="wpisset-icon-content-wrap wpisset-icon-content-wrap-1177157228">
                            <div class="wpisset-icon-content wpisset-icon-content-297025123">
                                <%= image_tag '/img/icons/box-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Cam kết hàng chính hãng 100%' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-297025123 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-297025123{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-1090033015">
                                <%= image_tag '/img/icons/truck-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Đổi trả trong vòng 10 ngày' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-1090033015 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-1090033015{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-333813810">
                                <%= image_tag '/img/icons/gift-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Miễn phí giao hàng khu vực TP. Hồ Chí Minh' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-333813810 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-333813810{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-297025123">
                                <%= image_tag '/img/icons/box-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Cam kết hàng chính hãng 100%' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-297025123 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-297025123{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                            <div class="wpisset-icon-content wpisset-icon-content-1090033015">
                                <%= image_tag '/img/icons/truck-product.png', alt: '', title: '' %>
                                <span><%= link_to '<strong>'.html_safe + 'Đổi trả trong vòng 10 ngày' + '</strong>'.html_safe %></span>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset-icon-content-1090033015 img{margin-right:0.75rem;margin-top:0;max-width:56px !important;}.wpisset-icon-content-1090033015{align-items:center;margin-top:1rem;margin-bottom:1rem;}</style></svg>
                        </div>
                        <svg class="wpssiet-es-cs"><style>table.dataTable.compare-list tr .wpisset-icon-content-wrap{display: none !important;}.wpssiet-es-cs{display: none;}</style></svg>
                    </div>
                    <!-- <div id="wpisset-woo-product-sidebar" class="wpisset-woo-product-sidebar wpisset-sidebar">
                        <div class="widget-odd widget-last widget-first widget-1 wpisset-widget-border widget thcn widget_recently_viewed_products">
                            <h4 class="wpisset-widgettitle"><span>SẢN PHẨM MỚI</span></h4>
                            <ul class="product_list_widget">
                                <% (0..2).each do |product| %>
                                    <li>
                                        <%= link_to image_set_tag('/img/tmp_products/pc-dell-optiplex-7090-mff-800x800.jpg',
                                                                              {'/img/tmp_products/pc-dell-optiplex-7090-mff-1000x1000.jpg' => '1000w',
                                                                               '/img/tmp_products/pc-dell-optiplex-7090-mff-800x800.jpg' => '800w',
                                                                               '/img/tmp_products/pc-dell-optiplex-7090-mff-768x768.jpg' => '768w',
                                                                               '/img/tmp_products/pc-dell-optiplex-7090-mff-600x600.jpg' => '600w',
                                                                               '/img/tmp_products/pc-dell-optiplex-7090-mff-300x300.jpg' => '300w',
                                                                               '/img/tmp_products/pc-dell-optiplex-7090-mff-150x150.jpg' => '150w'},
                                                                              title: '', alt: '', size: '800x800', sizes: '(max-width: 800px) 100vw, 800px', loading: 'lazy', class: 'attachment-thcn_thumbnail size-thcn_thumbnail') + 
                                                    '<span class="product-title">'.html_safe + 'PC Dell OptiPlex 7090 MFF (i5 11500T/8GB RAM/256GB SSD/WLAN/Win 10/Đen)' + '</span>'.html_safe,
                                            '', title: '' %>
                                        <div class="star-rating" role="img" aria-label="Đánh giá 4.0 / 5.0">
                                            <span style="width:80%">Đánh giá <strong class="rating">4.0</strong> / 5.0</span>
                                        </div>
                                        <del aria-hidden="true"><span class="thcn-Price-amount amount"><bdi><%= format_price(24990000) %></bdi></span></del>
                                        <ins><span class="thcn-Price-amount amount"><bdi><%= format_price(22990000) %></bdi></span></ins>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
            <%= render 'frontend/product/related_products', products: @brand_related_products, title: @category.get_name + ' Khác' %>
            <%= render 'frontend/product/related_products', products: @category_related_products, title: 'Sản Phẩm Cùng Chuyên Mục' %>
        </div>
    </main>
</div>
<%= render 'frontend/modules/recent_viewed' %>