<header id="wpisset-page-header" class="wpisset-page-header" data-sticky="true">
    <div class="wpisset-navigation" data-sub-menu-animation-duration="250">
        <div class="wpisset-main-navigation wpisset-container wpisset-container-center wpisset-container-fluid wpisset-visible-xlarge">
            <div class="wpisset-row wpisset-middle-xs">
                <div class="wpisset-logo-container wpisset-center-xs wpisset-col-xs-4 wpisset-middle-xs wpisset-flex-basic-off-grow-0">
                    <a href="#wpisset-secondary-navigation" class="wpisset-burger-navigation wpisset-secondary-navigation" data-navigation-title="DANH MỤC TRANG WEB"><div class="ham"><div class="bar top"></div><div class="bar middle"></div><div class="bar bottom"></div></div></a>
                    <nav id="wpisset-secondary-navigation">
                        <div class="wpisset-secondary-navigation-inner">
                            <div class="wpisset-secondary-navigation-title">
                                <span>DANH MỤC SẢN PHẨM</span>
                                <%= link_to 'Xem toàn bộ', category_link, title: '' %>
                            </div>
                            <ul class="wpisset-secondary-nav-menu">
                                <% @categories.each do |category| %>
                                    <li class="menu-item menu-item-has-children">
                                        <%= link_to category.get_name, category_list_link(category), title: category.get_name %>
                                        <ul class="sub-menu">
                                            <% category.get_children.each do |category_child_1| %>
                                                <% if category_child_1.get_children.count > 0 %>
                                                    <li class="menu-item menu-item-has-children">
                                                        <%= link_to category_child_1.get_name, category_list_link(category_child_1), title: category_child_1.get_name %>
                                                        <ul class="sub-menu">
                                                            <% category_child_1.get_children.each do |category_child_2| %>
                                                                <li class="menu-item">
                                                                    <%= link_to category_child_2.get_name, category_list_link(category_child_2), title: category_child_2.get_name %>
                                                                </li>
                                                            <% end %>
                                                        </ul>
                                                    </li>
                                                <% else %>
                                                    <li class="menu-item">
                                                        <%= link_to category_child_1.get_name, category_list_link(category_child_1), title: category_child_1.get_name %>
                                                    </li>
                                                <% end %>
                                            <% end %>
                                        </ul>
                                    </li>
                                <% end %>
                                <!-- <li class="menu-item">
                                    <%= link_to '<span>'.html_safe + 'Sản Phẩm Khuyến Mãi' + '</span><u class="wpisset-menu-item-badge" style="background-color:#1bc5bd">Giảm giá</u>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item">
                                    <%= link_to '<span>'.html_safe + 'Sản Phẩm Mới' + '</span><u class="wpisset-menu-item-badge">Năm 2021</u>'.html_safe, '', title: '' %>
                                </li> -->
                            </ul>
                            <div class="wpisset-secondary-navigation-title">
                                <span>HỖ TRỢ KHÁCH HÀNG</span>
                                <%= link_to 'Xem toàn bộ', '', title: '' %>
                            </div>
                            <ul class="wpisset-secondary-nav-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Hướng dẫn mua hàng' + '</span>'.html_safe, shopping_guide_link, title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Hướng dẫn thanh toán' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Gửi yêu cầu bảo hành' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'In hóa đơn điện tử' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Góp ý & Khiếu nại' + '</span>'.html_safe, '', title: '' %>
                                </li>
                            </ul>
                            <div class="wpisset-secondary-navigation-title">
                                <span>CHÍNH SÁCH CHUNG</span>
                                <%= link_to 'Xem toàn bộ', '', title: '' %>
                            </div>
                            <ul class="wpisset-secondary-nav-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Chính sách, quy định chung' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Chính sách vận chuyển' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Chính sách bảo hành' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Chính sách đổi trả, hoàn tiền' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Chính sách hàng chính hãng' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Bảo mật thông tin khách hàng' + '</span>'.html_safe, '', title: '' %>
                                </li>
                            </ul>
                            <div class="wpisset-secondary-navigation-title">
                                <span>LIÊN KẾT CHUNG</span>
                                <%= link_to 'Xem toàn bộ', '', title: '' %>
                            </div>
                            <ul class="wpisset-secondary-nav-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Giới thiệu công ty' + '</span>'.html_safe, about_link, title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Thông tin liên hệ' + '</span>'.html_safe, contact_link, title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Tin tức công nghệ' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Thông tin khuyến mãi' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Sản phẩm bán chạy' + '</span>'.html_safe, '', title: '' %>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <%= link_to image_tag('/img/icons_menu/help.png', alt: '', title: '') + '<span> '.html_safe + 'Sản phẩm mới ra mắt' + '</span>'.html_safe, '', title: '' %>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="wpisset-logo">
                        <%= link_to image_tag('/img/thcn-logo.png', alt: '', title: ''), root_link, title: '', class: 'wpisset-remove-font-size' %>
                    </div>
                </div>
                <div class="wpisset-search-container wpisset-center-xs wpisset-col-xs-4 wpisset-middle-xs wpisset-flex-basic-off-grow-1">
                    <form role="search" method="get" class="wpisset-header-product-search" action="">
                        <div class="wpisset-searchform-product-cat-wrap"></div>
                        <div class="wpisset-searchform-product-input-wrap">
                            <label class="screen-reader-text" for="">Tìm kiếm:</label>
                            <input type="search" id="" class="search-field" placeholder="Nhập tên sản phẩm, từ khóa cần tìm" value="" name="" />
                        </div>
                        <div class="wpisset-searchform-product-btn-wrap"><button type="submit" class="wpisset-button" value="Tìm kiếm"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="36" height="36" viewBox="0 0 36 36" xmlns="//www.w3.org/2000/svg"><path d="M23.608,23.707c-0.195,0.195 -0.45,0.293 -0.705,0.293c-0.255,0 -0.51,-0.098 -0.704,-0.293l-7.653,-7.682c-1.535,1.233 -3.477,1.975 -5.59,1.975c-4.944,0 -8.967,-4.037 -8.967,-8.999c-7.77156e-16,-4.963 4.023,-9.001 8.967,-9.001c4.944,0 8.966,4.038 8.966,9.001c0,2.121 -0.739,4.07 -1.967,5.61l7.653,7.682c0.389,0.39 0.389,1.024 0,1.414Zm-14.652,-21.707c-3.846,0 -6.974,3.141 -6.974,7.001c0,3.859 3.128,6.999 6.974,6.999c3.845,0 6.974,-3.14 6.974,-6.999c0,-3.86 -3.129,-7.001 -6.974,-7.001Z" transform="scale(1.5)" fill-rule="evenodd" fill="%23000"></path></svg></button></div>
                        <input type="hidden" name="" value="" />
                    </form>
                </div>
                <div class="wpisset-icons-container wpisset-center-xs wpisset-col-xs-4 wpisset-middle-xs wpisset-flex-basic-off-grow-0">
                    <div class="wpisset-header-thcncompare-btn wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="SO SÁNH SẢN PHẨM" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                        <a href="" class="yith-thcncompare-open" title="So sánh sản phẩm"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="36" height="36" viewBox="0 0 36 36" xmlns="//www.w3.org/2000/svg"><g transform="scale(0.75)"><path fill="%23000" d="M42.54,13.8l-1.09,1.7l4.97231e-07,3.2487e-07c4.65585,3.04194 5.96419,9.28224 2.92224,13.9381c-1.84846,2.82916 -4.99281,4.54247 -8.37225,4.56191h-21.59l5.29,-5.3l-1.41,-1.4l-7.72,7.7l7.72,8l1.41,-1.53l-5.29,-5.47h21.59l1.01766e-07,5.12685e-10c6.5942,0.0332207 11.9668,-5.2855 12,-11.8797c0.000202022,-0.0401008 0.000202022,-0.0802023 -1.02537e-09,-0.120303v0l2.73309e-07,-0.000131589c0.00849608,-4.10121 -2.04255,-7.93273 -5.46011,-10.1999Z"></path><path fill="%23000" d="M2,24.09l-2.9211e-07,-3.24611e-05c-0.0496877,-5.52262 4.387,-10.0399 9.90963,-10.0896c0.0301342,-0.000271121 0.0602696,-0.000406025 0.090405,-0.000404707h21.59l-5.29,5.3l1.41,1.4l7.69,-7.7l-7.7,-8l-1.41,1.54l5.3,5.46h-21.59l5.37636e-07,-6.72894e-09c-6.70973,0.0839775 -12.081,5.59137 -11.997,12.3011c0.0504189,4.02844 2.09441,7.76992 5.45699,9.9889l1.09,-1.69l-1.56931e-07,-1.0369e-07c-2.85577,-1.88691 -4.56685,-5.0872 -4.55,-8.51Z"></path></g></svg></a>
                    </div>
                    <!--<div class="wpisset-header-myaccount-btn wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="ĐĂNG NHẬP TÀI KHOẢN" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                        <a href="#wpisset-myaccount-header-login" title="Đăng nhập tài khoản" data-navigation-title="ĐĂNG NHẬP TÀI KHOẢN">
                            <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="36" height="36" viewBox="0 0 36 36" xmlns="//www.w3.org/2000/svg"><g transform="scale(0.75)"><path fill="%23000" d="M14.58,16.83c1.01,5.57 4.71,9.17 9.42,9.17c4.71,0 8.33,-3.51 9.42,-9.16c0.1,-0.54 1,-5.31 1.07,-6.41l2.85805e-07,-6.33774e-06c0.11972,-2.65481 -0.860687,-5.24149 -2.71,-7.15l5.27876e-08,5.42193e-08c-4.18397,-4.29745 -11.0595,-4.38945 -15.357,-0.205472c-0.0926376,0.0901914 -0.183657,0.18203 -0.273015,0.275472l-3.81849e-07,3.96953e-07c-1.82579,1.89801 -2.77873,4.47059 -2.63,7.1c0.0600043,1.08 0.960004,5.85 1.06,6.38Zm3,-12.1l-8.09876e-07,8.44326e-07c3.38725,-3.53134 8.99588,-3.64814 12.5272,-0.260883c0.068669,0.0658672 0.136272,0.132836 0.202784,0.200881l1.16688e-07,1.20033e-07c1.47234,1.51454 2.25393,3.56984 2.16,5.68c0,0.72 -0.64,4.05 -1,6.12c-0.709999,3.64 -3.04,7.53 -7.47,7.53c-4.43,0 -6.82,-4.05 -7.45,-7.54c-0.4,-2.07 -1,-5.41 -1,-6.13l-9.53443e-08,-1.62749e-06c-0.121265,-2.06995 0.620984,-4.09756 2.05,-5.6Z"></path> <path fill="%23000" d="M46.88,38.62c-0.48,-2.8 -2.84,-4.94 -6.37,-5.73l-16.51,-2.89l-16.55,2.91c-3.42,0.71 -5.84,2.91 -6.33,5.76l-1.12,9.33h48Zm-44.74,7.38l0.95,-7c0.41,-2.38 2.73,-3.68 4.74,-4.1l16.17,-2.9l16.12,2.83c1.28,0.29 4.3,1.27 4.78,4.07l1,7.08h-43.76Z"></path></g></svg>
                            <div class="wpisset-header-myaccount-btn-title">Đăng nhập</div>
                        </a>
                    </div>
                    <div class="wpisset-header-wisthlist-btn wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="SẢN PHẨM YÊU THÍCH" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                        <a href="" title="Sản phẩm yêu thích">
                            <div class="wpisset-header-wisthlist-icon-wrap">
                                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="36" height="36" viewBox="0 0 36 36" xmlns="//www.w3.org/2000/svg"><g transform="scale(0.75)"><path fill="%23000" d="M34.8,3l-2.9632e-07,-3.19076e-10c-4.30221,-0.00463251 -8.33505,2.09394 -10.8,5.62l5.3227e-07,7.57436e-07c-4.19153,-5.96468 -12.4248,-7.4021 -18.3895,-3.21057c-3.51161,2.46769 -5.60422,6.48862 -5.61054,10.7806c0,6.25 3.33,12.53 9.9,18.66l-8.57302e-06,-7.61371e-06c4.21413,3.74257 8.76325,7.08998 13.59,10l0.51001,0.150006l0.52,-0.15l1.98578e-06,-1.2308e-06c4.78359,-2.96492 9.32149,-6.30899 13.57,-10c6.76,-6.12 9.91,-12.05 9.91,-18.66l1.7417e-07,0.000115394c-0.0109623,-7.28397 -5.91591,-13.1845 -13.1999,-13.1901Zm1.94,30.38l-4.95623e-06,4.30071e-06c-3.99794,3.46917 -8.25721,6.62517 -12.74,9.44l-3.8665e-06,-2.36681e-06c-4.51271,-2.76238 -8.7726,-5.91798 -12.73,-9.43c-6.14999,-5.74 -9.26999,-11.53 -9.26999,-17.2l1.4934e-08,1.36852e-05c-0.00674783,-6.18006 4.99771,-11.1955 11.1778,-11.2022c4.17275,-0.0045561 8.00141,2.31301 9.93222,6.01219l0.890006,1.69001l0.89,-1.69l3.64168e-08,-6.97701e-08c2.85962,-5.47867 9.61913,-7.60183 15.0978,-4.74221c3.69917,1.9308 6.01675,5.75946 6.0122,9.93221c1.4833e-09,6 -2.94,11.47 -9.25,17.19Z"></path></g></svg>
                                <span class="wpisset-header-wisthlist-btn-count"><span>0</span></span>
                            </div>
                            <div class="wpisset-header-wisthlist-title">Yêu thích</div>
                        </a>
                    </div> -->
                    <div class="wpisset-woo-cart-wrap wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="GIỎ HÀNG CỦA BẠN" data-cursor-color="#ee2d41" data-cursor-text-color="#fff">
                        <div class="wpisset-woo-cart menu-item-has-children">
                            <a class="wpisset-woo-cart-inner wpisset-middle-xs" href="#wpisset-woo-sub-cart" title="Giỏ hàng của bạn" data-navigation-title="GIỎ HÀNG CỦA BẠN" data-cart-count="4">
                                <div class="wpisset-woo-cart-icon-wrap">
                                    <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="90" height="90" viewBox="0 0 90 90" xmlns="//www.w3.org/2000/svg"><g transform="scale(1.875)"><path fill="%23000" d="M33,12v-3v0c0,-4.97056 -4.02944,-9 -9,-9c-4.97056,0 -9,4.02944 -9,9v3h-11l1.56,27.53l1.3567e-07,2.29989e-06c0.280938,4.76246 4.22927,8.47828 9,8.47h18.9l-4.29432e-08,-7.45217e-11c4.77073,0.00827901 8.71906,-3.70754 9,-8.47l1.54,-27.53h-11Zm-16,-3l7.81597e-14,1.05697e-06c-5.83749e-07,-3.86599 3.13401,-7 7,-7c3.86599,-5.83749e-07 7,3.13401 7,7c0,0 0,7.10543e-15 0,7.10543e-15v3h-14v-3Zm23.44,30.41l1.39807e-07,-2.38291e-06c-0.217374,3.70501 -3.28862,6.59637 -7,6.59h-18.9l-3.43782e-08,5.90248e-11c-3.71138,0.00637129 -6.78262,-2.88499 -7,-6.59l-1.48,-25.41h8.94v9h2v-9h14v9h2v-9h8.94Z"></path></g></svg>
                                    <span class="wpisset-woo-cart-count"><span>5</span></span>
                                </div>
                                <div class="wpisset-woo-cart-total">
                                    <span class="thcn-Price-amount amount">
                                        <bdi><%= format_price(109950000) %></bdi>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpisset-main-navigation-bottom wpisset-visible-xlarge">
            <div class="wpisset-container wpisset-container-center wpisset-container-fluid">
                <div class="wpisset-row">
                    <div class="wpisset-menu-container wpisset-col-xs-12 wpisset-middle-xs wpisset-flex-basic-off-grow-1">
                        <nav id="wpisset-menu-variant2">
                            <div class="wpisset-category-menu-wrap">
                                <div class="wpisset-category-menu-title">
                                    <span>DANH MỤC SẢN PHẨM</span>
                                    <%= link_to 'Xem toàn bộ', category_link, title: '', class: 'wpisset-category-menu-view-all' %>
                                </div>
                                <ul class="wpisset-category-menu wpisset-sub-menu wpisset-start-xs wpisset-sub-menu-animation-fade">
                                    <% @categories.each do |category| %>
                                        <li class="wpisset-cat-mega-menu wpisset-cat-mega-menu-4 wpisset-cat-mega-menu-full-height wpisset-cat-mega-menu-bg-image-1 menu-item menu-item-has-children">
                                            <%= link_to image_tag('/img/icons_menu/laptop.png', alt: category.get_name, title: category.get_name) + category.get_name, category_list_link(category), title: category.get_name %>
                                            <ul class="sub-menu">
                                                <% category.get_children.each do |category_child_1| %>
                                                    <% if category_child_1.style_show? %>
                                                        <li class="menu-item-heading menu-item-border-bottom menu-item-inline-items menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                    <% else %>
                                                        <li class="menu-item-heading menu-item-border-bottom menu-item menu-item-has-children">
                                                    <% end %>
                                                        <%= link_to category_child_1.get_short_name, category_list_link(category_child_1) %>
                                                        <ul class="sub-menu">
                                                            <% category_child_1.get_children.each do |category_child_2| %>
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                    <%= link_to category_child_2.get_short_name, category_list_link(category_child_2) %>
                                                                </li>
                                                            <% end %>
                                                        </ul>
                                                    </li>
                                                <% end %>
                                                <li class="hide-menu-item-heading menu-item menu-item-type-custom menu-item-object-custom">
                                                    <%= link_to '<span>'.html_safe + 'Hình Ảnh Laptop, Máy Tính Xách Tay' + '</span>'.html_safe, '', title: '' %>
                                                    <div class="wpisset-menu-description">
                                                        <%= link_to image_tag('/img/tmp_banners/cat-megamenu-laptop-btn-2.png', alt: '', title: '') + '<span>'.html_safe + '' + '</span>'.html_safe, '', title: '' %>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    <% end %>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <%= link_to image_tag('/img/icons_menu/bell.png', alt: '', title: '') + 'Sản Phẩm Khuyến Mãi', '', title: '' %>
                                    </li>
                                    <!-- <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <%= link_to image_tag('/img/icons_menu/star.png', alt: '', title: '') + 'Sản Phẩm Mới' + '<u class="wpisset-menu-item-badge" style="background-color:#1bc5bd">Năm 2021</u>'.html_safe, '', title: '' %>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="wpisset-main-navigation-bottom-wrap">
                                <ul class="wpisset-menu wpisset-sub-menu wpisset-start-xs wpisset-sub-menu-animation-fade">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <span><%= link_to 'Trang Chủ', root_link, title: '' %></span>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <span><%= link_to 'Giới Thiệu', about_link, title: '' %></span>
                                    </li>
                                    <li class="wpisset-mega-menu wpisset-mega-menu-3 wpisset-mega-menu-bg-image-1 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                        <span><%= link_to '<span>'.html_safe + 'Chính Sách - Hướng Dẫn' + '</span>'.html_safe, '', title: '' %></span>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <span><%= link_to '<span>'.html_safe + '' + '</span>'.html_safe, '#', title: '' %></span>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                        <span><%= link_to '<span>'.html_safe + 'Hỗ Trợ Khách Hàng' + '</span>'.html_safe, '#', title: '' %></span>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Hướng dẫn mua hàng' + '</span>'.html_safe, shopping_guide_link, title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Hướng dẫn thanh toán' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Gửi yêu cầu bảo hành' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'In hóa đơn điện tử' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Góp ý & Khiếu nại' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                        <span><%= link_to '<span>'.html_safe + 'Chính Sách Chung' + '</span>'.html_safe, '#', title: '' %></span>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Chính sách, quy định chung' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Chính sách vận chuyển' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Chính sách bảo hành' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Chính sách đổi trả, hoàn tiền' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Chính sách hàng chính hãng' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Bảo mật thông tin khách hàng' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <span><%= link_to '<span>'.html_safe + '' + '</span>'.html_safe, '#', title: '' %></span>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                        <span><%= link_to '<span>'.html_safe + 'Dịch Vụ Máy Tính' + '</span>'.html_safe, '#', title: '' %></span>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Dịch vụ xử lý phần cứng' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Dịch vụ xử lý phần mềm' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Vệ sinh máy tính, laptop' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Sửa chữa, bảo trì tận nơi' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                        <span><%= link_to '<span>'.html_safe + 'Dịch Vụ Khác' + '</span>'.html_safe, '#', title: '' %></span>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Dịch vụ sửa chữa máy in' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Dịch vụ sửa chữa máy chiếu' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Dịch vụ lắp đặt, di dời thiết bị' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <span><%= link_to '<span>'.html_safe + 'Dịch vụ lắp đặt, di dời văn phòng' + '</span>'.html_safe, '', title: '' %></span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <span><%= link_to '<span>'.html_safe + '' + '</span>'.html_safe, '#', title: '' %></span>
                                                <ul class="sub-menu">
                                                    <li class="hide-menu-item-heading menu-item menu-item-type-custom menu-item-object-custom">
                                                        <span><%= link_to '<span>'.html_safe + '' + '</span>'.html_safe, '#', title: '' %></span>
                                                        <div class="wpisset-menu-description">
                                                            <%= link_to image_tag('/img/tmp_banners/megamenu-shop-btn.png', alt: '', title: '') + ''.html_safe + '' + ''.html_safe, '', title: '' %>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <span><%= link_to '<span>'.html_safe + 'Thương Hiệu' + '</span>'.html_safe, brand_list_link, title: '' %></span>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                        <span><%= link_to '<span>'.html_safe + 'Liên Hệ' + '</span>'.html_safe, contact_link, title: '' %></span>
                                    </li>
                                </ul>
                                <div class="wpisset-secondary-menu-wrap">
                                    <ul class="wpisset-secondary-menu">
                                        <li class="wpisset-recent-viewed-btn menu-item-arrow-btn menu-item menu-item-type-custom menu-item-object-custom">
                                            <%= link_to '<span>'.html_safe + 'Sản Phẩm Đã Xem' + '</span>'.html_safe, '#wpisset-recent-viewed-menu', title: 'SẢN PHẨM ĐÃ XEM' %>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <%= link_to '<span><strong>'.html_safe + 'Tra Cứu Đơn Hàng' + '</strong></span>'.html_safe, track_link, title: 'Tra cứu đơn hàng' %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>