<% title 'Thông Tin Liên Hệ Tìm Hàng Công Nghệ' %>

<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <span>
                    <span>
                        <%= link_to 'Trang Chủ', root_link, title: '' %> » 
                        <span class="breadcrumb_last" aria-current="page">Thông Tin Liên Hệ Tìm Hàng Công Nghệ</span>
                    </span>
                </span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top vc_custom_1612369308245 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;line-height:1;text-align:left" class="vc_custom_heading wpisset-custom-contact-style-1 vc_custom_1612681614002" >
                                Thông Tin Liên Hệ
                            </h1>
                            <div class="wpb_text_column wpb_content_element vc_custom_1612959362702" >
                                <div class="wpb_wrapper">
                                    <p style="text-align:left">
                                        <span class="wpisset-custom-title wpisset-ele-es-custom-text-animate" style="color:#111;font-size:36px;font-weight:300;line-height:1">
                                            Tìm Hàng Công Nghệ
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612959383407">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element wpisset-custom-contact-style-2" >
                                <div class="wpb_wrapper">
                                    <p style="text-align:justify">Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển. Thành lập từ năm 2008 đến nay, Công ty đã tạo được chỗ đứng vững chắc trên thị trường bán buôn, bán lẻ, trở thành thương hiệu quen thuộc và là đối tác tin cậy của nhiều bạn hàng trong Thành phố Hồ Chí Minh và cả nước.</p>
                                    <p style="text-align:justify">Luôn lấy yếu tố hài hòa về lợi ích làm nền tảng, lãnh đạo Công ty hiểu rằng, niềm tin của khách hàng về giá thành, chất lượng và dịch vụ là sự sống còn của Công ty. Do vậy, mọi hoạt động kinh doanh của Công ty luôn hướng tới mục tiêu tôn trọng và bảo đảm quyền lợi cho khách hàng, chinh phục khách hàng bằng chất lượng sản phẩm và dịch vụ tối ưu. Để được phục vụ tốt nhất, Quý khách vui lòng liên hệ với chúng tôi theo các thông tin sau:</p>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612959378310">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-521395492" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-1.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Số Điện Thoại</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-521395492 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>Kinh doanh: </strong><%= link_to '(028) 3984 7690', '', title: '' %><br/>
                                        <strong>Kế toán: </strong><%= link_to '(028) 3984 7690', '', title: '' %><br/>
                                        <strong>Kỹ thuật: </strong><%= link_to '(028) 3984 7690', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1520301126" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-2.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Địa Chỉ Email</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1520301126 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>Kinh doanh: </strong><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %><br/>
                                        <strong>Kế toán: </strong><%= mail_to 'ketoan@hoangkhang.com.vn', 'ketoan@hoangkhang.com.vn', title: '' %><br/>
                                        <strong>Kỹ thuật: </strong><%= mail_to 'kythuat@hoangkhang.com.vn', 'kythuat@hoangkhang.com.vn', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1864148057" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-3.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">LiveChat Trực Tiếp</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1864148057 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <strong>OA Zalo: </strong><%= link_to 'Chat ngay', '', title: '' %><br/>
                                        <strong>Messenger: </strong><%= link_to 'Chat ngay', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_icons3 wpisset_ele_es_icons3-1577179575" >
                                <div class="wpisset-ele-es-icons3">
                                    <div class="wpisset-ele-es-icons3-item">
                                        <div class="wpisset-ele-es-icons3-item-holder">
                                            <div class="wpisset-ele-es-icons3-item-icon">
                                                <%= image_tag '/img/icons/contact-4.png', alt: '', title: '' %>
                                            </div>
                                            <div class="wpisset-ele-es-icons3-item-content">
                                                <h3 class="wpisset-ele-es-icons3-item-title">Vị Trí Công Ty</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_icons3-1577179575 .wpisset-ele-es-icons3-item-icon{max-width:150px}</style></svg>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <p style="text-align:center">
                                        <%= link_to 'Xem trên bản đồ', '', title: '' %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612959387970">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_infobanner1 wpisset_ele_es_infobanner1-946689562 vc_custom_1611039954597" >
                                <div class="wpisset-ele-es-infobanner1">
                                    <div class="wpisset-ele-es-infobanner1-menu">
                                        <div class="wpisset-ele-es-infobanner1-menu-title">Shipping, Delivery &amp; Pickup<span></span></div>
                                        <ul id="menu-faqs-shipping-delivery-pickup" class="wpisset-infobanner1-menu">
                                            <li id="menu-item-1145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1145"><a href="/shop"><span>Store pickup</span></a></li>
                                            <li id="menu-item-1146" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1146"><a href="/shop"><span>Changing to shipping or store pickup</span></a></li>
                                            <li id="menu-item-1147" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1147"><a href="/shop"><span>Scheduled delivery</span></a></li>
                                            <li id="menu-item-1148" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1148"><a href="/shop"><span>Free shipping</span></a></li>
                                            <li id="menu-item-1149" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1149"><a href="/shop"><span>Shipping costs &#038; timing</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="wpisset-ele-es-infobanner1-desc-wrap"><a href="/shop" title="" class="wpisset-ele-es-infobanner1-desc"><span>See all delivery &amp; pickup topics</span></a></div>
                                    <span class="wpisset-ele-es-infobanner1-bh"></span><span class="wpisset-ele-es-infobanner1-bv"></span> 
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs">
                                <style></style>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_infobanner1 wpisset_ele_es_infobanner1-1672897608 vc_custom_1611039961740" >
                                <div class="wpisset-ele-es-infobanner1">
                                    <div class="wpisset-ele-es-infobanner1-menu">
                                        <div class="wpisset-ele-es-infobanner1-menu-title">Orders &amp; Purchases<span></span></div>
                                        <ul id="menu-faqs-orders-purchases" class="wpisset-infobanner1-menu">
                                            <li id="menu-item-818" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-818"><a href="/shop"><span>Check your order status</span></a></li>
                                            <li id="menu-item-819" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-819"><a href="/shop"><span>Cancel or make changes to an order</span></a></li>
                                            <li id="menu-item-821" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-821"><a href="/shop"><span>Delayed orders</span></a></li>
                                            <li id="menu-item-820" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-820"><a href="/shop"><span>See your purchase history</span></a></li>
                                            <li id="menu-item-822" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-822"><a href="/shop"><span>Damaged, defective or incorrect items</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="wpisset-ele-es-infobanner1-desc-wrap"><a href="/shop" title="" class="wpisset-ele-es-infobanner1-desc"><span>See all order &amp; purchase topics</span></a></div>
                                    <span class="wpisset-ele-es-infobanner1-bh"></span><span class="wpisset-ele-es-infobanner1-bv"></span> 
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs">
                                <style></style>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-4 vc_col-sm-offset-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_infobanner1 wpisset_ele_es_infobanner1-761916069 vc_custom_1611039975803" >
                                <div class="wpisset-ele-es-infobanner1">
                                    <div class="wpisset-ele-es-infobanner1-menu">
                                        <div class="wpisset-ele-es-infobanner1-menu-title">Payment &amp; Pricing<span></span></div>
                                        <ul id="menu-faqs-payment-pricing" class="wpisset-infobanner1-menu">
                                            <li id="menu-item-1140" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1140"><a href="/shop"><span>Payment methods</span></a></li>
                                            <li id="menu-item-1141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1141"><a href="/shop"><span>Manage your payment methods</span></a></li>
                                            <li id="menu-item-1142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1142"><a href="/shop"><span>Pricing</span></a></li>
                                            <li id="menu-item-1143" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1143"><a href="/shop"><span>Statement charges</span></a></li>
                                            <li id="menu-item-1144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1144"><a href="/shop"><span>Check gift card balance</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="wpisset-ele-es-infobanner1-desc-wrap"><a href="/shop" title="" class="wpisset-ele-es-infobanner1-desc"><span>See all payment &amp; pricing topics</span></a></div>
                                    <span class="wpisset-ele-es-infobanner1-bh"></span><span class="wpisset-ele-es-infobanner1-bv"></span> 
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs">
                                <style></style>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>